{% comment header %}

This file includes all necessary code to implement a tile list
on any page. Both regular tiles, expanded tiles, and the javascript
that styles these tiles is included in this page.

Note: A parent page that imports the tile templating must
link to the survey_result styling css file.

Note: this file requires that the parent template that includes
it adds these tiles in a for loop and has access to a house list
context.

{% endcomment %}
{% load static %}

<div class="tile bound" id="{{ forloop.counter }}" data-count="{{ forloop.counter }}">

    {#  Template that holds expanded tile information. #}
    {#  Script tag contents read in by  jQuery         #}

    <script id="expanded-tile-contents" type="text/template">

        <div class="expanded-tile-container">

            <div class="expanded-row-top">
                                            <span onclick="minimize(this)"
                                                  class="expanded-close glyphicon glyphicon-resize-small"></span>
            </div>
            <div class="expanded-tile-contents">

                {#  TODO: Populate this with actual template information   #}

                {% if includeScore %}

                <span class="expanded-tile-text expanded-score
                                            {% if homeScore > 90 %}
                                                great-match
                                            {% elif homeScore > 80 %}
                                                good-match
                                            {% elif homeScore > 70 %}
                                                acceptable-match
                                            {% elif homeScore > 60 %}
                                                bad-match
                                            {% else %}
                                                terrible-match
                                            {% endif %}">{{ homeGrade }}</span>
                {% endif %}

                <span id="glyph{{ theHouse.id }}"
                      onclick="set_favorite({{ theHouse.id }}, '{% url 'survey:setFavorite' %}');"
                        {% if theHouse in user_favorite_houses %}
                      class="expanded-glyph glyphicon glyphicon-heart"
                      style="cursor:pointer"
                        {% else %}
                      class="expanded-glyph glyphicon glyphicon-heart-empty"
                      style="cursor:pointer"
                        {% endif %}
                      aria-hidden="true">
                </span>

                <div class="expanded-info">
                    <table class="expanded-info-table">
                    {% if is_broker %}
                        <tr>
                            <td class="expanded-tile-text category">Address</td>
                            <td class="expanded-tile-text value">{{ theHouse.full_address }}</td>
                        </tr>
                    {% endif %}
                        <tr>
                            <td class="expanded-tile-text category">Price</td>
                            <td class="expanded-tile-text value">{{ theHouse.price_string }}</td>
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Beds</td>
                            <td class="expanded-tile-text value">{{ theHouse.num_bedrooms }}</td>
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Baths</td>
                            <td class="expanded-tile-text value">{{ theHouse.num_bathrooms }}</td>
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Home type</td>
                            <td class="expanded-tile-text value">{{ theHouse.home_type }}</td>
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Remarks</td>
                            <td class="expanded-tile-text value remarks">{{ theHouse.remarks }}</td>
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Exact Commute Time (minutes)</td>
                            {% for key, value in commuteExact.items %}
                            <td class="expanded-tile-text value">Exact: {{ value|floatformat:"0" }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td class="expanded-tile-text category">Approx Commute Time (minutes)</td>
                            {% for key, value in commuteApprox.items %}
                            <td class="expanded-tile-text value">Approx: {{ value|floatformat:"0" }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>



                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for photo in theHouse.housephotos_set.all %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                    {% for photo in theHouse.housephotos_set.all %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            <img src="{{ photo.image.url }}">
                        </div>
                    {% endfor %}

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>

        </div>

    </script>

    <div class="scoreItem" {% if not includeScore %} style="border-right:none;" {% endif %}>

      {% if includeScore %}
        <span class="scoreText
                {% if homeScore > 90 %}
                    great-match
                {% elif homeScore > 80 %}
                    good-match
                {% elif homeScore > 70 %}
                    acceptable-match
                {% elif homeScore > 60 %}
                    bad-match
                {% else %}
                    terrible-match
                {% endif %}">{{ homeGrade }}
        </span>
    {% endif %}

        <span id="glyph{{ theHouse.id }}"
              onclick="set_favorite({{ theHouse.id }}, '{% url 'survey:setFavorite' %}');"
                {% if theHouse in user_favorite_houses %}
              class="heartGlyph glyphicon glyphicon-heart"
              style="cursor:pointer"
                {% else %}
              class="heartGlyph glyphicon glyphicon-heart-empty"
              style="cursor:pointer"
                {% endif %}
              aria-hidden="true"></span>
    </div>
    <div class="infoItem">

        {# TODO: Pull high priority items here #}
        {# Below are placeholder strings    #}

        <span class="infoBit">{{ theHouse.price_string }}</span>
        <span class="infoBit">{{ theHouse.home_type }}</span>
        {% if is_broker %}
            <span class="infoBit addressBit">{{ theHouse.full_address }}</span>
            <span class="infoBit addressbit">{{ theHouse.listing_provider }}</span>
        {% endif %}
    </div>

    {% for image in theHouse.housephotos_set.all|slice:":2" %}
        <div class="thumbnailItem" id="thumbnailItem{{ forloop.counter }}">
            <img class="thumbnailImage" src="{{ image.image.url }}">
        </div>
    {% endfor %}
</div>

{% comment %}

    Javascript imports below here:

{% endcomment %}