{% extends "bootstrapJQuery.html" %}
{% load static %}

{% block title %} Login {% endblock title %}

{% block head %}
{{ block.super }}

    <!-- Login Styling -->
    <link href="{% static "userAuth/signin.css" %}" rel="stylesheet">
{% endblock head %}

{% comment %}
Leaving empty nav_bar block to prevent the nav bar from showing up
{% endcomment %}
{% block nav_bar %} {% endblock nav_bar %}

{% block content %}

    <form class="form-signin form-horizontal" action="{% url 'userAuth:loginPage' %}" method='POST'>
        {% csrf_token %}
        <div class="form-group">
            {% if error_message %}
                <div class="row">
                    <div style="color:red">
                        <p><strong>
                            {% for error in error_message %}
                                {{ error }}
                            {% endfor %}
                        </strong></p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <h2 class="form-signin-heading">Please sign in:</h2>
        </div>
        <div class="form-group">
            {{ form.username }}
            {{ form.username.errors }}
        </div>
        <div class="form-group">
            {{ form.password }}
            {{ form.password.errors }}
            <div class="checkbox">
                <label>
                    {{ form.remember.errors }}
                    {{ form.remember }} Remember Me
                </label>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" value="login" type="submit">Sign in</button>
        </div>
    </form>
    <p style="text-align:center">
	    <a href="{% url 'userAuth:registerPage' %}">Register New User</a>
	</p>

{% endblock content %}