{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Profile Page{% endblock %}


{% block head %}
    {{ block.super }}
    <!-- Custom StyleSheets -->
    <link rel="stylesheet" href="{% static 'userAuth/profilePage.css' %}">
{% endblock %}


{% block content %}
    {% for home in favorites %}
        <!-- Modal -->
        <div class="modal fade" id="myModalFav{{ forloop.counter }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalFavLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalFavLabel">{{ home.get_address }}</h3>
                    </div>
                    <div class="modal-body modalPadding">
                        <div class="row">
                            <p><b>Address: </b>{{ home.get_address }}</p>
                            <p><b>Num Bedrooms: </b>{{ home.get_num_bedrooms }}</p>
                            <p><b>Price: </b>{{ home.get_price }}</p>
                            <p><b>Home Type: </b>{{ home.get_home_type }}</p>
                            <p><b>Move In Day: </b>{{ home.get_moveInday }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            {% if error_message %}
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6" style="color:red">
                        <p><strong>{{ error_message }}</strong></p>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card hovercard">
                <div class="card-background">
                    <img class="card-bkimg" alt="" src="{% static 'userAuth/cityBackground.jpg' %}">
                    <!-- http://lorempixel.com/850/280/people/9/ -->
                </div>
                <div class="useravatar">
                    <img alt="" src="{% static 'userAuth/unicornProfilePic.jpeg' %}">
                </div>
                <div class="card-info"><span class="card-title">{{ userProfile.user.get_full_name }}</span>
                </div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="stars"
                            {% if defaultProfile == 0 %}
                            class="btn btn-primary"
                            {% else %}
                            class="btn btn-default"
                            {% endif %}
                            href="#tab1" data-toggle="tab"><span
                            class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <div class="hidden-xs">Profile</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="favorites"
                            {% if defaultProfile == 1 %}
                            class="btn btn-primary"
                            {% else %}
                            class="btn btn-default"
                            {% endif %}
                            href="#tab2" data-toggle="tab"><span
                            class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <div class="hidden-xs">Rent Surveys</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="following"
                            {% if defaultProfile == 3 %}
                            class="btn btn-primary"
                            {% else %}
                            class="btn btn-default"
                            {% endif %}
                            href="#tab3" data-toggle="tab"><span
                            class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        <div class="hidden-xs">Favorites</div>
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in {% if defaultProfile == 0 %}active{% endif %}" id="tab1">
                        <div class="row">
                            <h3 class="col-sm-12">Account Setting</h3>
                            <div class="col-sm-9 col-sm-offset-3">
                                <form class="form-horizontal" action="{% url 'userAuth:profilePage' 'profile' %}"
                                      method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ form.as_p }}
                                    </div>
                                    <p>Number of Rent Surveys: {{ numRentSurveys }}</p>
                                    <p>Number of Buy Surveys: {{ numBuySurveys }}</p>
                                    <div class="form-group">
                                        <button type="submit" id="Submit" class="btn btn-primary">Save Changes!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in {% if defaultProfile == 1 %}active{% endif %}" id="tab2">
                        <div class="panel-group" id="accordion_rent">
                            {% for survey in surveys %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion_rent"
                                               href="#collapse{{ forloop.counter }}">
                                                <h4><b>Survey Name: {{ survey.name }}</b></h4></a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ forloop.counter }}"
                                         class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
                                        <div class="panel-body">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Addresses</th>
                                                    <th>Home_Types</th>
                                                    <th>Price Range</th>
                                                    <th>Commute Range</th>
                                                    <th>
                                                        <button type="button" class="btn btn-danger"
                                                                data-toggle="modal"
                                                                data-target="#deleteModal{{ forloop.counter }}">
                                                            Delete
                                                        </button>
                                                    </th>
                                                </tr>
                                                <!-- Modal -->
                                                <div class="modal fade" id="deleteModal{{ forloop.counter }}"
                                                     tabindex="-1" role="dialog"
                                                     aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    Delete Confirmation</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to delete {{ survey.name }}?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary"
                                                                        data-dismiss="modal">No
                                                                </button>
                                                                <button type="button" class="btn btn-danger"
                                                                        onclick="delete_survey({{ survey.id }})">Yes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </thead>
                                                <tbody>
                                                {% with survey.rentingdesintations_set.all as destAddresses %}
                                                    {% for destAddress in destAddresses %}
                                                        <tr>
                                                            <td>
                                                                {{ destAddress.streetAddress }}, {{ destAddress.city }}, {{ destAddress.state }}, {{ destAddress.zip_code }}
                                                            </td>
                                                            {% if forloop.counter == 1 %}
                                                                <td>{{ survey.get_home_types }}</td>
                                                                <td>{{ survey.get_cost_range }}</td>
                                                                <td>{{ survey.get_commute_range }}</td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                {% endwith %}
                                                </tbody>
                                            </table>
                                            <a href="{% url 'survey:surveyResult' survey_type="rent" survey_id=survey.id %}"
                                               class="btn btn-primary active" role="button">Load!</a>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <h2>Take a survey!</h2>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade in {% if defaultProfile == 3 %}active{% endif %}" id="tab3">
                        <h3>Favorites!</h3>
                        <table class="table table-striped table-hover table-responsive" >
                            <tbody>
                            <thead>
                        <tr>
                            <th>Toggle</th>
                            <th>Address</th>
                            <th>Price</th>
                            <th>Move In Day</th>
                            <th>Num Of Bedrooms</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                            {% for house in favorites %}
                                <tr>
                                    <td style="vertical-align:middle">
                                        <h3 style="margin-top: 10px;">
                                    <span data-toggle="modal" class="accordion-toggle glyphicon glyphicon-plus"
                                          data-target="#myModalFav{{ forloop.counter }}"
                                          style="padding-right:1em"></span>
                                        </h3>
                                    </td>
                                    <td style="vertical-align:middle">
                                        {{ house.get_address }}
                                    </td>
                                    <td style="vertical-align:middle">
                                        {{ house.get_price }}
                                    </td>
                                    <td style="vertical-align:middle">
                                        {{ house.get_moveInday }}
                                    </td>
                                    <td style="vertical-align:middle">
                                        {{ house.get_num_bedrooms }}
                                    </td>
                                    <td>
                                        <h3 style="margin-top: 10px;">
                                            <span id="glyph{{ house.id }}"
                                                  onclick="set_favorite({{ house.id }});"
                                                  class="glyphicon glyphicon-heart"
                                                  aria-hidden="true"></span>
                                        </h3>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block endScripts %}
    {{ block.super }}
    {% comment AjaxRequest %}
    This Script handles the Ajax request to the surveyDelete controller. It deletes survey
    {% endcomment %}
    <script>
        function delete_survey(num) {
            $.ajax({
                url: "{% url 'survey:surveyDelete' %}",
                type: "POST", //http method
                data: {"survey": num},

                success: function (json) {
                    console.log("success");
                    if (json["result"] == 0) {
                        // On Success always redirect back to the rent survey page
                        // Because that is where the ajax request took place
                        console.log("Success!");
                        window.location = "{% url 'userAuth:profilePage' 'rentSurvey' %}";
                    }
                    // Need to handle error! Create a div that is meant for errors
                    else {
                        console.log("error occurred");
                    }
                },

                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }

    </script>
    <script>
        function set_favorite(num) {
            $.ajax({
                url : "{% url 'survey:setFavorite' %}",
                type : "POST", //http method
                data : { "fav" : num },

                success: function(json) {
                    console.log("success");
                    if(json["result"] == 0)
                    {
                        console.log("removed");
                        $('span#glyph' + num).removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                    }
                    else if(json["result"] == 1)
                    {
                        console.log("Added!");
                        $('span#glyph' + num).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                    }
                    // Need to handle error! Create a div that is meant for errors
                    else
                    {
                        console.log(json["result"]);
                    }
                },

                error : function(xhr, errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }

    </script>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>
    <!-- Custom Javascript -->
    <script src="{% static 'userAuth/profilePage.js' %}"></script>
{% endblock %}