{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Unicorn{% endblock %}
{% block head %}
    {{ block.super }}
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'survey/rentingSurvey.css' %}">

   <!-- Smarty Street API -->
    <script type="text/javascript"
            src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script>jQuery.LiveAddress({
        key: "28808043421919080",
        debug: false,
        autocomplete: 5,
        autoVerify: false,
        target: "US",
        addresses: [{
            address1: '#id_street_address',
            locality: '#id_city',
            administrative_area: "#id_state",
            postal_code: '#id_zip_code'
        }]
    });
    </script>
{% endblock %}

{% block nav-survey %}<li class="active"><a>Survey</a></li>{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Find your Perfect Home!</h1>
        <p>Please fill out the survey below to find your hive</p>
        <p>
            {% if not user.is_authenticated %}
                <p>Please login to save personalized surveys!</p>
                <a class="btn btn-lg btn-success" href="{% url 'userAuth:loginPage' %}" role="button">Log In</a>
            {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if error_message %}
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6" style="color:red">
                        <p><strong>{{ error_message }}</strong></p>
                    </div>
                </div>
            {% endif %}
            <div class="row">

                <form class="form-horizontal" id="my_form" action="{% url 'survey:rentingSurvey' %}" method="post">
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="col-sm-offset-3 col-sm-6">
                        <h3>Step 1</h3>
                        <span class="help-block">All fields are required. Each item will be an important factor which will filter the items</span>
                        <div class="form-group step_div">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{ form.move_in_date_start.label_tag }}
                                        <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="First Day you can move in"></span>
                                        {{ form.move_in_date_start }}
                                        {{ form.move_in_date_start.errors }}
                                    </div>
                                    <div class="col-sm-6">
                                        {{ form.move_in_date_end.label_tag }}
                                        <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="Last Day you can move in"></span>
                                        {{ form.move_in_date_end }}
                                        {{ form.move_in_date_end.errors }}


                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                {{ form.num_bedrooms.label_tag }}
                                {{ form.num_bedrooms }}
                                {{ form.num_bedrooms.errors }}
                            </div>
                            <div class="form-group">
                                {{ form.home_type.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="Select the types of homes desired"></span>
                                {{ form.home_type }}
                                {{ form.home_type.errors }}
                            </div>
                            <div class="form-group">
                                <label for="amountCost">Cost Per Month:</label>
                                <input type="text" id="amountCost" name="amountCost" readonly
                                       style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="cost"></div>
                                {{ form.min_price }}
                                {{ form.max_price }}
                            </div>
                            <div class="form-group">
                                {{ form.price_weight.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="A Weight of zero means all homes within the price range are weighted equally.
                                Increasing the weight gives increasing preference to cheaper homes"></span>
                                {{ form.price_weight }}
                                {{ form.price_weight.errors }}
                            </div>
                        </div>
                        <br>

                        <h3>Step 2</h3>
                        <span class="help-block">Please enter a work, school or somewhere you need to commute to</span>
                        <div class="form-group step_div">
                            <div class="form-group">
                                {% comment %} Contains form for destination {% endcomment %}
                                {{ formDest.as_p }}
                            </div>

                            <div class="form-group">
                                <label for="amountCommute">Commute:</label>
                                <input type="text" id="amountCommute" name="amountCommute" readonly
                                       style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="commute"></div>
                                {{ form.min_commute }}
                                {{ form.max_commute }}
                            </div>

                            <div class="form-group">
                                {{ form.commute_weight.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="A weight of zero means all homes within the commute range are weighted equally.
                                Increasing the weight gives increasing preferences to closer homes"></span>
                                {{ form.commute_weight }}
                                {{ form.commute_weight.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.commute_type.label_tag }}
                                {{ form.commute_type }}
                                {{ form.commute_type.errors }}
                            </div>
                        </div>
                        <br>

                        {% comment %} Accordion ONLY will have questions that do not need to be validated {% endcomment %}
                        <h3>Step 3</h3>
                        <p class="help-block">Nothing below is required but it tailors the search to your needs!
                            <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip"
                                  data-placement="left" title="For the following questions, a weight of zero means the question has no effect.
                                    Increasing weight means homes with that element will be given increasing preference and homes
                                    without that item will be given decreased preference.
                                    A weight of the max value means the home must have that item.">

                            </span></p>
                        <div class="form-group">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Interior Amenities</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                {{ form.air_conditioning.label_tag }}
                                                {{ form.air_conditioning }}
                                                {{ form.air_conditioning.errors }}
                                            </p>

                                            <p>
                                                {{ form.wash_dryer_in_home.label_tag }}
                                                {{ form.wash_dryer_in_home }}
                                                {{ form.wash_dryer_in_home.errors }}
                                            </p>

                                            <p>
                                                {{ form.dish_washer.label_tag }}
                                                {{ form.dish_washer }}
                                                {{ form.dish_washer.errors }}
                                            </p>

                                            <p>
                                                {{ form.bath.label_tag }}
                                                {{ form.bath }}
                                                {{ form.bath.errors }}
                                            </p>

                                            <p>
                                                <label for="amountBathrooms"># Bathrooms:</label>
                                                <input type="text" id="amountBathrooms" name="amountBathrooms" readonly
                                                       style="border:0; color:#f6931f; font-weight:bold;">
                                            <div id="bathrooms"></div>
                                            {{ form.min_bathrooms }}
                                            {{ form.max_bathrooms }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Building/Exterior Amentities</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                {{ form.parking_spot.label_tag }}
                                                {{ form.parking_spot }}
                                                {{ form.parking_spot.errors }}
                                            </p>
                                            <p>
                                                {{ form.washer_dryer_in_building.label_tag }}
                                                {{ form.washer_dryer_in_building }}
                                                {{ form.washer_dryer_in_building.errors }}
                                            </p>
                                            <p>
                                                {{ form.elevator.label_tag }}
                                                {{ form.elevator }}
                                                {{ form.elevator.errors }}
                                            </p>
                                            <p>
                                                {{ form.handicap_access.label_tag }}
                                                {{ form.handicap_access }}
                                                {{ form.handicap_access.errors }}
                                            </p>
                                            <p>
                                                {{ form.pool_hot_tub.label_tag }}
                                                {{ form.pool_hot_tub }}
                                                {{ form.pool_hot_tub.errors }}
                                            </p>
                                            <p>
                                                {{ form.fitness_center.label_tag }}
                                                {{ form.fitness_center }}
                                                {{ form.fitness_center.errors }}
                                            </p>
                                            <p>
                                                {{ form.storage_unit.label_tag }}
                                                {{ form.storage_unit }}
                                                {{ form.storage_unit.errors }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% comment %}
                                Not currently needed so commenting out
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Something else 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>

                            {% endcomment %}
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block endScripts %}
    {{ block.super }}
<script>
    // Default values for sliders
    commuteSliderMin = 0;
    commuteSliderMax = 60;
    costSliderMax = 1400;
    costSliderMin = 400;
    bathroomsMin = 0;
    bathroomsMax = 6;
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>


<!-- JQuery UI for sliders -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Javascripts -->
<script src="{% static 'survey/costSlider.js' %}"></script>
<script src="{% static 'survey/commuteSlider.js' %}"></script>
<script src="{% static 'survey/moveInDatePicker.js' %}"></script>
<script src="{% static 'survey/bathroomsSlider.js' %}"></script>
{% endblock %}
