{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Survey Result{% endblock %}


{% block head %}
    {{ block.super }}
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Style sheets for template page -->
    <link href="{% static 'survey/survey_result.css' %}" rel="stylesheet">
    <link href="{% static 'survey/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'survey/GoogleMapStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block nav-survey %}
    <li class="active"><a>Survey</a></li>{% endblock %}
{% block container_type %}container-fluid{% endblock %}
{% block content %}
    <h3>Note all the homes currently have a move in day of Feburary if you are wondering why nothing shows up</h3>
    {% for home in houseList %}
        <!-- Modal -->
        <div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h3 class="modal-title" id="myModalLabel">{{ home.house.address }}</h3>
                    </div>
                    <div class="modal-body modalPadding">
                        <div class="row">
                            <p> <b>Address: </b>{{ home.house.address }}</p>
                            <p> <b>Commute: </b>{{ home.get_commute_times }}</p>
                            <p> <b>Prize: </b>{{ home.house.get_price}}</p>
                            <p> <b>Home Type: </b>{{ home.house.home_type }}</p>
                            <p> <b>Score: </b>{{ home.get_user_score }}</p>
                            <p> <b>Move In Day: </b>{{ home.house.get_moveInday }}</p>
                            <p> <b>Number of Bedrooms: </b>{{ home.house.get_num_bedrooms }}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row" id="row-main">
        <div class="col-sm-3 sidebar collapsedSide" id="sidebarSurvey">
            <ul class="nav nav-sidebar">
                <li class="active" style="margin-right: -21px;margin-left: -20px;"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li style="margin-right: -21px;margin-left: -20px;"><a href="{% url 'homePage:index' %}">Back To Form<span class="sr-only"></span></a></li>
                <br>
                <form action="{% url 'survey:surveyResult' survey_type="rent" survey_id=survey.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <label for="amountCost">Cost Per Month:</label>
                        <input type="text" id="amountCost" name="amountCost" readonly
                               style="border:0; color:#f6931f; font-weight:bold;">
                        <div id="cost"></div>
                    </div>
                    <div class="form-group">
                        <label for="amountCommute">Commute:</label>
                        <input type="text" id="amountCommute" name="amountCommute" readonly
                               style="border:0; color:#f6931f; font-weight:bold;">
                        <div id="commute"></div>
                    </div>
                    <div class="form-group">
                            <label for="amountBathrooms"># Bathrooms:</label>
                            <input type="text" id="amountBathrooms" name="amountBathrooms" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                            <div id="bathrooms"></div>
                        </div>
                    <div class="form-group">
                        <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                    </div>
                </form>
            </ul>
        </div>
        <div class="col-sm-12 main" id="contentSurvey">
            {% if error_message %}
                <div class="row" style="text-align:center">
                    <div style="color:red">
                        <p><strong>
                            {% for error in error_message %}
                                {{ error }}
                            {% endfor %}
                        </strong></p>
                    </div>
                </div>
            {% endif %}

            <h1 class="page-header">
                    <button type="button" class="toggle-sidebar" id="sidebarToggleBut">
                        <span class="glyphicon glyphicon-list"></span>
                    </button>
                Your Personal Results
            </h1>
            <div id="map"></div>
            <h2 class="sub-header">Home List</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Toggle</th>
                        <th>Rank</th>
                        <th>Display</th>
                        <th>House Address</th>
                        <th>Commute Time ({{ commuteMode }})</th>
                        <th>Price</th>
                        <th>Home Type</th>
                        <th>Score</th>
                        <th>Favorite!</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for home in houseList %}
                        <tr>
                            <td style="vertical-align:middle">
                                <h3 style="margin-top: 10px;">
                                    <span data-toggle="modal" class="accordion-toggle glyphicon glyphicon-plus"
                                      data-target="#myModal{{ forloop.counter }}" style="padding-right:1em"></span>
                                    </h3>
                            </td>
                            <td><h3 style="margin-top: 10px;">
                                {% if home.eliminated == False %}{{ forloop.counter }} {% else %} Deleted {% endif %}</h3>
                            </td>
                            <td style="vertical-align:middle">
                                <button type="button" class="btn btn-primary"
                                        onclick="selectAddress({{ forloop.counter }})">Select!
                                </button>
                            </td>
                        <!-- id is used for selecting pin on google maps -->
                            <td id="address{{ forloop.counter }}"
                                style="vertical-align:middle"> {{ home.house.address }}</td>
                            <td style="vertical-align:middle"> {{ home.get_commute_times }}</td>
                            <td style="vertical-align:middle"> {{ home.house.price }}</td>
                            <td style="vertical-align:middle"> {{ home.house.home_type }}</td>
                            <td style="vertical-align:middle"> {{ home.get_score }}</td>
                            <td>
                                    <h3 style="margin-top: 10px;"><span id="glyph{{ home.house.id }}" onclick="set_favorite({{ home.house.id }});"
                                                                        {% if home.favorite %}
                                                                        class="glyphicon glyphicon-heart"
                                                                        {% else %}
                                                                        class="glyphicon glyphicon-heart-empty"
                                                                        {% endif %}
                                                                        aria-hidden="true"></span>
                                    </h3>
                            </td>
                        </tr>
                    {% empty %}

                        <!-- TAKES THIS OUT!!!! -->
                        <tr><td>Congratulations!!!  You are homeless :)</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block endScripts %}
{{ block.super }}
    {% comment AjaxRequest %}
    This Script handles the Ajax request to the setFavorite controller. It adds or removes homes from
    The favorite list
    {% endcomment %}
    <script>
        function set_favorite(num) {
            $.ajax({
                url : "{% url 'survey:setFavorite' %}",
                type : "POST", //http method
                data : { "fav" : num },

                success: function(json) {
                    console.log("success");
                    if(json["result"] == 0)
                    {
                        console.log("removed");
                        $('span#glyph' + num).removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                    }
                    else if(json["result"] == 1)
                    {
                        console.log("Added!");
                        $('span#glyph' + num).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                    }
                    // Need to handle error! Create a div that is meant for errors
                    else
                    {
                        console.log(json["result"]);
                    }
                },

                error : function(xhr, errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }

    </script>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>

<!-- Javascripts -->
<script src="{% static 'survey/costSlider.js' %}"></script>
<script src="{% static 'survey/commuteSlider.js' %}"></script>
<script src="{% static 'survey/bathroomsSlider.js' %}"></script>
<!-- Variables for google map generating with markers -->
<script>
    {% comment endScritps %}
    // Deprecating computing commute time and distance in favor of doing in on the server side
    // Going to keep the portions that create the markers on the map
    {% endcomment %}
    var myStreetAddresses = [{% for location in locations %}"{{ location.full_address }}",{% endfor %}];
    var myDestinations = [{% for dest in houseList %}"{{ dest.house.address }}",{% endfor %}];
    // Manipulated by survey_result.js in selectAddress
    //var myDestination = "{{ houseList.0.address }}";
    // Manipulated by costSliderResults.js
    costSliderMax = {{ survey.maxPrice }};
    costSliderMin = {{ survey.minPrice }};
    commuteSliderMin = {{ survey.minCommute }};
    commuteSliderMax = {{ survey.maxCommute }};
    bathroomsMin = {{ survey.minBathrooms }};
    bathroomsMax = {{ survey.maxBathrooms }};
</script>
<!-- Loading scripts at the end to increase loading times -->
<script src="{% static 'survey/moveInDatePicker.js' %}"></script>
<script src="{% static 'survey/survey_result.js' %}"></script>
<script src="{% static 'survey/addMarkers.js' %}"></script>
<script src="{% static 'survey/addGoogleMap.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocEM2aNmd47atCkIpw2zXOBShUhF3PwE &callback=initMap"></script>

<!-- JQuery UI for sliders -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}