{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Results</title>
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- JQuery CDN -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!-- Bootstrap style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Style sheets for template page -->

    <link href="{% static 'survey/survey_result.css' %}" rel="stylesheet">
    <link href="{% static 'survey/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'survey/GoogleMapStyle.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homePage:index' %}">Project Unicorn</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'userAuth:loginPage' %}">Login</a></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row" id="row-main">
        <div class="col-sm-3 sidebar collapsedSide" id="sidebarSurvey">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'homePage:index' %}">Back To Form<span class="sr-only"></span></a></li>
                <br>
                <form action="{% url 'survey:surveyResult' 'rent' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                    <div class="form-group">
                        <label for="amountCost">Cost:</label>
                        <input type="text" id="amountCost" name="amountCost" readonly
                               style="border:0; color:#f6931f; font-weight:bold;">
                        <div id="cost"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                    </div>
                </form>
            </ul>
        </div>
        <div class="col-sm-12 main" id="contentSurvey">
            {% if error_message %}
                <div class="row" style="text-align:center">
                    <div style="color:red">
                        <p><strong>
                            {% for error in error_message %}
                                {{ error }}
                            {% endfor %}
                        </strong></p>
                    </div>
                </div>
            {% endif %}
            <button type="button" class="nav navbar-left toggle-sidebar" id="sidebarToggleBut">
                <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <h1 class="page-header">Your Personal Results</h1>
            <div id="map"></div>
            <h2 class="sub-header">Home List</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>House Address</th>
                        <th>Price</th>
                        <th>Home Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for house in houseList %}
                        <tr>
                            <td> {{ house.address }}</td>
                            <td> {{ house.price }}</td>
                            <td> {{ house.home_type }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td></td><td></td><td></td></tr>
                    <tr>
                        <td>Survey Info</td>
                        <td>Home Type</td>
                        <td>Survey Result</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ survey.home_type }}</td>
                        <td> {{ survey }}</td>
                    </tr>
                    <tr>
                        {% for type in survey.home_type.all %}
                            <td>{{ type }}<br/></td>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for location in locations %}
                            <td>{{ location.full_address }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Javascripts -->
<script src="{% static 'survey/costSlider.js' %}"></script>
<!-- Variables for google map generating with markers -->
<script>
var myStreetAddress = "{{ locations.first.full_address }}";
var myDestination = "Boston, MA";
</script>
<!-- Loading scripts at the end to increase loading times -->
<script src="{% static 'survey/survey_result.js' %}"></script>
<script src="{% static 'survey/addMarkers.js' %}"></script>
<script src="{% static 'survey/googleMapsDistanceMatrix.js' %}"></script>
<script src="{% static 'survey/addGoogleMap.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocEM2aNmd47atCkIpw2zXOBShUhF3PwE &callback=initMap"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<!-- JQuery UI for sliders -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>