{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Survey Result{% endblock %}

{% comment %}
Global variables are listed below
{% endcomment %}

{% block head %}
    {{ block.super }}
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Style sheets for template page -->
    <link href="{% static 'survey/survey_result.css' %}" rel="stylesheet">
    <link href="{% static 'survey/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'survey/GoogleMapStyle.css' %}" rel="stylesheet">
{% endblock %}

{% block nav-survey %}
    <li class="active"><a>Survey</a></li>{% endblock %}

{% block container_type %}container-fluid{% endblock %}
{% block content %}
    {% comment %}
    <h3>Note all the homes currently have a move in day of Feburary if you are wondering why nothing shows up</h3>
    {% endcomment %}
    {% comment %}
        Modal assumes it is being called within a for loop
    {% endcomment %}
    {% for houseStruct in houseList %}
        <!-- Modal -->
        {% with home=houseStruct.house %}
            {% include "survey/homeModal.html" with modalId="myModal" %}
        {% endwith %}
    {% endfor %}
    <div class="row" id="row-main">
        <div class="col-sm-3 sidebar collapsedSide" id="sidebarSurvey">
            <ul class="nav nav-sidebar">
                <form action="{% url 'survey:rentSurveyResult' survey_id=survey.id %}" method="post">
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="form-group step_div">
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.moveinDateStart.label_tag }}
                            {{ form.moveinDateStart }}
                            {{ form.moveinDateStart.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.moveinDateEnd.label_tag }}
                            {{ form.moveinDateEnd }}
                            {{ form.moveinDateEnd.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.numBedrooms.label_tag }}
                            {{ form.numBedrooms }}
                            {{ form.numBedrooms.errors }}
                        </div>
                        <div class="form-group">
                            {{ form.home_type.label_tag }}
                            {{ form.home_type }}
                            {{ form.home_type.errors }}
                        </div>
                        <div class="form-group">
                            <label for="amountCost">Cost Per Month:</label>
                            <input type="text" id="amountCost" name="amountCost" readonly
                                   style="border:0; color:#f6931f; font-weight:bold;">
                            <div id="cost"></div>
                            {{ form.minPrice }}
                            {{ form.maxPrice }}
                        </div>
                        <div class="form-group">
                            {{ form.price_weight.label_tag }}
                            {{ form.price_weight }}
                            {{ form.price_weight.errors }}
                        </div>
                        <br>
                        <div class="form-group step_div">
                            <div class="form-group">
                                {{ form.commuteWeight.label_tag }}
                                {{ form.commuteWeight }}
                                {{ form.commuteWeight.errors }}
                            </div>

                            <div class="form-group">
                                <label for="amountCommute">Commute:</label>
                                <input type="text" id="amountCommute" name="amountCommute" readonly
                                       style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="commute"></div>
                                {{ form.minCommute }}
                                {{ form.maxCommute }}
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="form-group">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            Interior Amenities</a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            {{ form.airConditioning.label_tag }}
                                            {{ form.airConditioning }}
                                            {{ form.airConditioning.errors }}
                                        </p>

                                        <p>
                                            {{ form.washDryer_InHome.label_tag }}
                                            {{ form.washDryer_InHome }}
                                            {{ form.washDryer_InHome.errors }}
                                        </p>

                                        <p>
                                            {{ form.dishWasher.label_tag }}
                                            {{ form.dishWasher }}
                                            {{ form.dishWasher.errors }}
                                        </p>

                                        <p>
                                            {{ form.bath.label_tag }}
                                            {{ form.bath }}
                                            {{ form.bath.errors }}
                                        </p>

                                        <p>
                                            <label for="amountBathrooms"># Bathrooms:</label>
                                            <input type="text" id="amountBathrooms" name="amountBathrooms" readonly
                                                   style="border:0; color:#f6931f; font-weight:bold;">
                                        <div id="bathrooms"></div>
                                        {{ form.minBathrooms }}
                                        {{ form.maxBathrooms }}
                                        {{ form.minBathrooms.errors }}
                                        {{ form.maxBathrooms.errors }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                            Building/Exterior Amentities</a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            {{ form.parkingSpot.label_tag }}
                                            {{ form.parkingSpot }}
                                            {{ form.parkingSpot.errors }}
                                        </p>
                                        <p>
                                            {{ form.washerDryer_inBuilding.label_tag }}
                                            {{ form.washerDryer_inBuilding }}
                                            {{ form.washerDryer_inBuilding.errors }}
                                        </p>
                                        <p>
                                            {{ form.elevator.label_tag }}
                                            {{ form.elevator }}
                                            {{ form.elevator.errors }}
                                        </p>
                                        <p>
                                            {{ form.handicapAccess.label_tag }}
                                            {{ form.handicapAccess }}
                                            {{ form.handicapAccess.errors }}
                                        </p>
                                        <p>
                                            {{ form.poolHottub.label_tag }}
                                            {{ form.poolHottub }}
                                            {{ form.poolHottub.errors }}
                                        </p>
                                        <p>
                                            {{ form.fitnessCenter.label_tag }}
                                            {{ form.fitnessCenter }}
                                            {{ form.fitnessCenter.errors }}
                                        </p>
                                        <p>
                                            {{ form.storageUnit.label_tag }}
                                            {{ form.storageUnit }}
                                            {{ form.storageUnit.errors }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% comment %}
                                Not currently needed so commenting out
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Something else 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>

                            {% endcomment %}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                    </div>
                </form>
            </ul>
        </div>
        <div class="col-sm-12 main" id="contentSurvey">
            {% if error_message %}
                <div class="row" style="text-align:center">
                    <div style="color:red">
                        <p><strong>
                            {% for error in error_message %}
                                {{ error }}
                            {% endfor %}
                        </strong></p>
                    </div>
                </div>
            {% endif %}

            <h1 class="page-header">
                <button type="button" class="toggle-sidebar" id="sidebarToggleBut">
                    <span class="glyphicon glyphicon-list"></span>
                </button>
                Your Personal Results
            </h1>
            <div id="map"></div>
            <h2 class="sub-header">Home List</h2>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Toggle</th>
                        <th>Rank</th>
                        <th>Display</th>
                        <th>House Address</th>
                        <th>Commute Time ({{ commuteMode }})</th>
                        <th>Price</th>
                        <th>Home Type</th>
                        <th>Score</th>
                        <th>Favorite!</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for home in houseList %}
                        <tr>
                            <td style="vertical-align:middle">
                                <h3 style="margin-top: 10px;">
                                    <span data-toggle="modal" class="accordion-toggle glyphicon glyphicon-plus"
                                          data-target="#myModal{{ forloop.counter }}" style="padding-right:1em"></span>
                                </h3>
                            </td>
                            <td><h3 style="margin-top: 10px;">
                                {% if home.eliminated == False %}{{ forloop.counter }} {% else %}
                                    Deleted {% endif %}</h3>
                            </td>
                            <td style="vertical-align:middle">
                                <button type="button" class="btn btn-primary"
                                        onclick="selectAddress({{ forloop.counter }})">Select!
                                </button>
                            </td>
                            <!-- id is used for selecting pin on google maps -->
                            <td id="address{{ forloop.counter }}"
                                style="vertical-align:middle"> {{ home.house.address }}</td>
                            <td style="vertical-align:middle"> {{ home.get_commute_times }}</td>
                            <td style="vertical-align:middle"> {{ home.house.price }}</td>
                            <td style="vertical-align:middle"> {{ home.house.home_type }}</td>
                            <td style="vertical-align:middle"> {{ home.get_score }}</td>
                            <td>
                                <h3 style="margin-top: 10px;"><span id="glyph{{ home.house.id }}"
                                                                    onclick="set_favorite({{ home.house.id }});"
                                        {% if home.favorite %}
                                                                    class="glyphicon glyphicon-heart"
                                        {% else %}
                                                                    class="glyphicon glyphicon-heart-empty"
                                        {% endif %}
                                                                    aria-hidden="true"></span>
                                </h3>
                            </td>
                        </tr>
                    {% empty %}

                        <!-- TAKES THIS OUT!!!! -->
                        <tr>
                            <td>Congratulations!!! You are homeless :)</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block endScripts %}
    {{ block.super }}
    {% comment AjaxRequest %}
    This Script handles the Ajax request to the setFavorite controller. It adds or removes homes from
    The favorite list
    {% endcomment %}
    <script>
        function set_favorite(num) {
            $.ajax({
                url: "{% url 'survey:setFavorite' %}",
                type: "POST", //http method
                data: {"fav": num},

                success: function (json) {
                    console.log("success");
                    if (json["result"] == 0) {
                        console.log("removed");
                        $('span#glyph' + num).removeClass("glyphicon-heart").addClass("glyphicon-heart-empty");
                    }
                    else if (json["result"] == 1) {
                        console.log("Added!");
                        $('span#glyph' + num).removeClass("glyphicon-heart-empty").addClass("glyphicon-heart");
                    }
                    // Need to handle error! Create a div that is meant for errors
                    else {
                        console.log(json["result"]);
                    }
                },

                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            })
        }

    </script>
    <script>
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
    </script>

    <!-- Javascripts -->
    <script src="{% static 'survey/costSlider.js' %}"></script>
    <script src="{% static 'survey/commuteSlider.js' %}"></script>
    <script src="{% static 'survey/bathroomsSlider.js' %}"></script>
    <!-- Variables for google map generating with markers -->
    <script>
        {% comment endScritps %}
        // Deprecating computing commute time and distance in favor of doing in on the server side
        // Going to keep the portions that create the markers on the map
        {% endcomment %}
        var myStreetAddresses = [{% for location in locations %}"{{ location.full_address }}",{% endfor %}];
        var myDestinations = [{% for dest in houseList %}"{{ dest.house.address }}",{% endfor %}];
        // Manipulated by survey_result.js in selectAddress
        //var myDestination = "{{ houseList.0.address }}";
        // Manipulated by costSliderResults.js
        costSliderMax = {{ survey.maxPrice }};
        costSliderMin = {{ survey.minPrice }};
        commuteSliderMin = {{ survey.minCommute }};
        commuteSliderMax = {{ survey.maxCommute }};
        bathroomsMin = {{ survey.minBathrooms }};
        bathroomsMax = {{ survey.maxBathrooms }};
    </script>
    <!-- Loading scripts at the end to increase loading times -->
    <script src="{% static 'survey/moveInDatePicker.js' %}"></script>
    <script src="{% static 'survey/survey_result.js' %}"></script>
    <script src="{% static 'survey/addMarkers.js' %}"></script>
    <script src="{% static 'survey/addGoogleMap.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocEM2aNmd47atCkIpw2zXOBShUhF3PwE &callback=initMap"></script>

    <!-- JQuery UI for sliders -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}