# Compiled Source #
*.pyc

# IntelliJ Idea workspace configuration #
.idea/

# Html files in the docs
docs/*.html

# Ignore the settings file
config/settings/secrets.json

# Ignore the other apache files that isn't the template file
config/apache2/*.conf

# Migration folders #
cocoon/userAuth/migrations
cocoon/houseDatabase/migrations
cocoon/homePage/migrations
cocoon/survey/migrations
cocoon/commutes/migrations

# Visual Studio Code Settings #
.vscode/

# Home MLSpin feed #
cocoon/houseDatabase/management/commands/idx_feed.txt

# Media folder #
cocoon/media

# Sqlite database #
db.sqlite3

# The log file generated #
logCocoon.log

