# Compiled Source #
*.pyc
*.swp

# IntelliJ Idea workspace configuration #
.idea/

# Ignore the settings file
config/settings/secrets.json

# Ignore the other apache files that isn't the template file
config/apache2/*.conf

# Ignore all keys in the key directory
config/keys/*
!config/keys/__init__.py
!config/keys/keys_filepaths.py

# Html files in the docs
docs/*.html

# Migration folders #
cocoon/userAuth/migrations/*
!cocoon/userAuth/migrations/__init__.py
cocoon/houseDatabase/migrations/*
!cocoon/houseDatabase/migrations/__init__.py
cocoon/homePage/migrations/*
!cocoon/homePage/migrations/__init__.py
cocoon/survey/migrations/*
!cocoon/survey/migrations/__init__.py
cocoon/commutes/migrations/*
!cocoon/commutes/migrations/__init__.py
cocoon/scheduler/migrations/*
!cocoon/scheduler/migrations/__init__.py
cocoon/signature/migrations/*
!cocoon/signature/migrations/__init__.py

# Visual Studio Code Settings #
.vscode/

# Home MLSpin feed #
cocoon/houseDatabase/management/commands/mlspin/idx_feed.txt

# Home YGL feed
cocoon/houseDatabase/management/commands/ygl/ygl_feed.xml

# Media folder #
cocoon/media

# Ignore the collect static folder *
config/static/

# Sqlite database #
db.sqlite3

# The log file generated #
logCocoon.log

# NPM node modules #
node_modules

# DS Store
.DS_Store
config/.DS_Store
