/* Parent Tile styling*/
.tile {
    height: 115px;
    width: 100%;
    min-width: 450px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    border: 1px solid #c65c3b;
    padding: 0;
    background-color: #f7f7f7;
}

/* Styling associated with the scoring*/
.tileScore {
    flex-grow: 0;
    flex-basis: 16%;
    flex-shrink: 0;
    border-right: 1px dotted #a13718;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    flex-direction: column;
    justify-content: center;

}

.scoreText {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: #efefef;
}

.scoreText-hover {
    font-size: 34px !important;
    transition: font-size .1s;
}

/* Heart Icon */
.glyphicon-heart {
    font-size: 26px;
    color: #c65c3b;
    cursor: pointer;
}

.glyphicon-heart-empty {
    font-size: 26px;
    color: #c65c3b;
    cursor: pointer;
}

.glyphicon-check-class {
    cursor: pointer;
}

/* Styling associated with the home info */
.homeInfo {
    flex-grow: 0;
    flex-basis: 30%;
    flex-shrink: 0;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.homeBit {
    width: 80%;
    font-size: 14px;
    display: block;
    text-align: center;
}

.homeBit-hover {
    width: 80%;
}

/* Image formatting */
.thumbnailDiv {
    padding: 4px;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
}

.thumbnailDiv-hover {
    padding: 1px !important;
}

.thumbnailImage {
    vertical-align: middle;
    float: right;
    width: 100%;
    min-height: 115px;
    height: auto;
    min-width: 100px;
    max-width: 100%;
    max-height:100%;
}

.thumbnailImage-hover {
    max-width: 109%;
    width: 109%;
}

/*    Styling for large tile   */
.expanded-tile-container {
    width: 100%;
    /*padding: 8px !important;*/
    border: 1px solid #a13718;
}

.expanded-row-top {
    min-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    height: 50px;
}

.expanded-close {
    font-size: 32px;
    align-self: flex-start;
    color: #26A69A;
    cursor: pointer;
}

.expanded-tile-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
}

.expanded-info-table {
    /*border: 2px #777 !important;*/
    display: table;
    width: 90%;
    margin: 0 auto;
    /*padding: 8px !important;*/
    border-collapse: collapse;
}

.expanded-info {
    flex: 0;
    flex-basis: 20%;
    width: 100%;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

td.category {
    display: inline-block;
    width: 30%;
    font-weight: bold;
}

td.value {
    display: inline-block;
    width: 55%;
    font-weight: normal;
    text-align: left;
    color: #26A69A;
    padding: 8px;
}

.home-tile-large-carousel-div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
