@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

:root {
    --red: #A13718;
    --teal: #39B1A7;
    --tealOpacity: rgba(57, 177, 167, 0.04);
    --black: #282828;
    --grey: #888888;
    --borderColor: #dfdfdf;
    --borderRadius: 10px;
}

.available-times-wrapper {
    padding: 5px;
    margin: 5px;
    border: 1px dotted teal;
}

.onboard-wrapper {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.itinerary-main-wrapper {
    font-family: 'Montserrat', sans-serif;
}

.itinerary-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0px;
}

.onboard-wrapper img {
    max-width: 200px;
    height: auto;
}

.onboard-wrapper h2,
.itinerary-headline h2 {
    font-weight: 700;
}

.onboard-wrapper p,
.itinerary-headline p {
    color: #888;
    font-weight: 600;
}

.itinerary-date-time-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.itinerary-main-wrapper .itinerary-button {
    background: var(--teal);
    color: white;
    border: none;
    padding: 25px;
    border-radius: 10px;
    font-weight: 800;
    font-size: 16px;
    width: 100%;
}

.itinerary-date-time-wrapper .calendar-wrapper,
.itinerary-date-time-wrapper .time-wrapper {
    display: flex;
    flex-direction: column;
    width: 49%;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 10px 15px 15px;
}

.itinerary-date-time-wrapper .calendar-wrapper h3,
.itinerary-date-time-wrapper .time-wrapper h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.itinerary-date-time-wrapper .calendar-wrapper p,
.itinerary-date-time-wrapper .time-wrapper p {
    text-align: center;
    color: var(--grey);
}

/*DATE PICKER*/
.itinerary-date-time-wrapper .react-calendar {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.75;
    border: none;
}

.itinerary-date-time-wrapper .react-calendar__tile--active,
.itinerary-date-time-wrapper .react-calendar__tile--active:enabled:hover,
.itinerary-date-time-wrapper .react-calendar__tile--active:enabled:focus {
    background: var(--teal);
    color: white !important;
}

.itinerary-date-time-wrapper .react-calendar__month-view__days__day--weekend {
    color: inherit;
}

.itinerary-date-time-wrapper .react-calendar__tile:disabled {
    text-decoration: line-through;
}

/*TIME PICKER */
.time-wrapper .time-picker {
    display: flex;
    justify-content: space-between;
}

.time-wrapper .time-picker #time-picker_hour,
.time-wrapper .time-picker #time-picker_min,
.time-wrapper .time-picker #time-picker_period {
    display: flex;
    width: 32%;
    flex-direction: column;
    align-items: center;
}

.time-wrapper .time-picker #time-picker_hour input,
.time-wrapper .time-picker #time-picker_min input,
.time-wrapper .time-picker #time-picker_period input {
    width: 100%;
    text-align: center;
    padding: 25px 5px;
    font-size: 24px;
    font-weight: 800;
    border: 1px solid var(--teal);
    color: var(--teal);
}

.time-wrapper .time-picker i {
    color: var(--teal);
    font-size: 40px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.itinerary-date-time-wrapper .time-wrapper {
    justify-content: space-between;
}

.time-available-wrapper {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid var(--borderColor);
}

.time-available-wrapper p {
    display: inline-block;
    font-size: 14px;
    color: var(--black) !important;
    font-weight: 700;
}

.time-available-wrapper input {
    display: inline-block;
    text-align: center;
    width: 20%;
    margin: 0 7px 20px;
    font-weight: 800;
    border: none;
    border-bottom: 3px solid var(--teal);
    padding-bottom: 4px;
    font-size: 14px;
    color: var(--teal);
    -moz-appearance: textfield;
}

.time-available-wrapper input::-webkit-outer-spin-button,
.time-available-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 724px) {
    .itinerary-main-wrapper {
        margin-bottom: 20px;
    }
    .itinerary-date-time-wrapper {
        flex-direction: column;
    }
    .itinerary-date-time-wrapper .calendar-wrapper,
    .itinerary-date-time-wrapper .time-wrapper {
        width: 100%;
    }
    .itinerary-date-time-wrapper .calendar-wrapper {
        margin-bottom: 20px;
    }
}

/*ITINERARY SIDE SECTION*/

.itinerary-side-wrapper {
    margin-top: 30px;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 15px;
}