#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsedSide {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsedSide {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#contentSurvey {
    /* for the animation */
    transition: width 0.3s ease;
}

.carousel-img {
    width: 100%;
}

/*****************************

EXPANDED TILE STYLING

 ****************************/

#expanded-tile-carousel {
    width: 100%;
}

.carousel-item {
    width: 100%;
}

/*****************************

STYLING NEW TILE RESULTS

 ****************************/

/* Pushing old styling down
    TODO: remove this code
*/
.resultTiles {

}

.tileTable {
    margin: 0 auto;
    min-height: 750px;
    max-width: 700px;
    /*max-height: 1200px;*/
    overflow-x: scroll;
}

/* scrolling on small screens */
.tile {
    height: 115px;
    width: 100%;
    min-width: 450px;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    border: 2px solid #c65c3b;
    padding: 0;
    background-color: #f7f7f7;
}

.tile-expanded {
    width: 100%;
    min-width: 450px;
    margin-bottom: 2%;
    border: 1px dotted #c65c3b;
    background-color: #f7f7f7;
}

.tile:hover {
    background-color: #efefef;
    cursor: pointer;
}

.glyphicon-heart {
    font-size: 26px !important;
    color: #c65c3b;
}

.glyphicon-heart-empty {
    font-size: 26px !important;
    color: #c65c3b;
}

.scoreItem {
    flex-grow: 0;
    flex-basis: 20%;
    flex-shrink: 0;
    border-right: 1px dotted #a13718;
    display: flex;
    align-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;

}

.scoreText {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 28px;
    font-family: 'Lobster', cursive;
    color: #efefef;

}

.infoItem {
    flex-grow: 0;
    flex-basis: 30%;
    flex-shrink: 0;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}
.thumbnailItem {
    /*padding: 4px;*/
    vertical-align: middle;
    flex-grow: 3;
    flex-basis: 30%;
    overflow: hidden;
}

.thumbnailItem-hover {
    padding: 0 !important;
}

#thumbnailItem1 {
    /*margin-right: 4px;*/
}

.thumbnailItem1-hover {
    margin-right: 0 !important;
}

.thumbnailImage {
    vertical-align: middle;
    float: right;
    width: 100%;
    min-height: 115px;
    height: auto;
    min-width: 100px;
    max-width: 100%;
    /*max-height: 100%;*/
}

.thumbnailImage-hover {
    max-width: 109%;
    width: 109%;
    /*max-height: 106%;*/
    transition: height .1s;
    transition: width .1s;
}

.infoBit {
    width: 80%;
    font-size: 14px;
    display: block;
    text-align: center;
}

.infoBit-hover {
    width: 80%;
    transition: width .1s;
    transition: font-size .1s;
}

.scoreText-hover {
    font-size: 34px !important;
    transition: font-size .1s;
}

.great-match {
    color: green !important;
}

.good-match {
    color: #CDDC39 !important;
}

.acceptable-match {
    color: #FFC107 !important;
}

.bad-match {
    color: #FF6D00 !important;
}

.terrible-match {
    color: #DD2C00 !important;
}


@media (max-width: 1150px) {

    .tile {
        height: 100px;
    }

    .scoreText {

    }

    .infoBit {
        font-size: 12px;
    }

    .thumbnailImage {
        min-height: 100px;
    }

}

@media (max-width: 768px) {
    .tileTable {
        min-height: 350px;
        max-height: 600px;
    }

    .tile {
        height: 115px;
    }

    .infoBit {
        font-size: 11px;
    }

    .thumbnailImage {
        min-height: 115px;
    }
}

@media (max-width: 550px) {

    .tile {
        height: 90px;
    }

    .thumbnailImage {
        min-height: 90px;
    }
}
