.subscribe-checkbox {
    display: flex;
    align-items: center;
    font-weight: 700;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 13px;
}

.subscribe-checkbox i {
    font-size: 16px;
    margin-right: 10px;
}

.subscribe-options {
    color: var(--grey);
    font-size: 13px;
}

.subscribe-options input {
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 10px;
    width: 70px;
    margin: 0 6px;
}

/* Style for results page */
.results-info .subscribe-checkbox {
    justify-content: center;
}