.survey-large-home {
    width: 100%;
}

.tour-summary-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

.tour-summary-semi-bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}

.tour-summary-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}

.tour-summary-doc-button {
    margin-bottom: 10px;
}

.tour-summary-h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;

    color: #000000;

}
