{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block head %}
    {{ block.super }}
    <!-- Register page stylesheet-->
    <link href="{% static "userAuth/register.css" %}" rel="stylesheet">
    <link href="{% static "userAuth/general_auth.css" %}" rel="stylesheet">
{% endblock head %}

{% comment %}
Leaving empty nav_bar block to prevent the nav bar from showing up
{% endcomment %}
{% block nav_bar %}{% endblock nav_bar %}

{% block content %}

        <div class="row">
        <div class="col-sm-2 col-sm-offset-2 header">
            <img class="logo" src="{% static 'homePage/cocoon_logo.png' %}">
        </div>
    <div class="col-sm-4">
        <p class="welcome_text">Welcome to Cocoon</p>
    </div>

    </div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post" class="form-register form-horizontal">
                <div class="form-group">
                    <h2 class="form-register-heading">Create an Account!</h2>
                </div>
                <div class="form-group">
                    {% if error_message %}
                        <div class="row">
                            <div style="color:red">
                                <p><strong>
                                    {% for error in error_message %}
                                        {{ error }}
                                    {% endfor %}
                                </strong></p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button class="btn btn-large btn-primary btn-block" value="Register" type="submit">Register!</button>
                </div>
            </form>
        </div>
    </div>
    <p style="text-align:center">
        <a href="{% url 'userAuth:loginPage' %}">Return to Login Page</a>
    </p>
    </p>
       <p style="text-align:center">
	    <a href="{% url 'homePage:index' %}">Return to the Home Page</a>
	</p>
{% endblock content %}
