.tour-setup-container {
    width: 95%;
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.tour-setup-sidebar {
    display: flex;
    flex-direction: column;
}

.tour-setup-container h3 {
    color: var(--darkBlue);
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 15px;
}

.tour-setup-container .helper-text {
    color: var(--grey);
}

.tour-cta {
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    padding: 15px;
}

.tour-cta span {
    display: flex;
    align-items: center;
    color: var(--teal);
    cursor: pointer;
}

.tour-cta span i {
    font-size: 14px;
    background: rgba(57, 177, 167,  .15);
    color: var(--teal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 7px;
    margin-right: 3px;
}