.surveys-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.surveys-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

.surveys-title-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}

.surveys-title-text-semi-bold {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;

    color: #000000;
}

.surveys-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: baseline;
}

.survey-small {
    padding: 10px;
    width: 350px;
    flex-grow: 1;
}

.survey-large {
    width: 100%;
}

.tour-summary {
    margin-top: 15px;
    border: 1px solid rgba(156, 156, 156, 0.7);
    box-sizing: border-box;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
