.survey-large-div {
    background: #F6F6F6;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.survey-large-header {
    display: flex;
}

.survey-large-icon {
    flex-grow: 1;
    height: 51px;
    margin-left: 20px;
    margin-top: 15px;
}

.survey-large-title {
    margin-top: 15px;
    text-align: center;
    flex-grow:50;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 36px;

    color: #000000;
}

.survey-large-delete-button {
    margin-right: 20px;
    margin-top: 15px;
    height: 51px;
    flex-grow:5;
}

.survey-large-info-div {
    display: flex;
}

.survey-large-snapshot {
    flex-grow: 2;
    margin-top:40px;
    margin-left: 100px;
    height: 168px;
    border: 1px solid rgba(156, 156, 156, 0.7);
    box-sizing: border-box;
    border-radius: 10px;
}

.survey-large-tour-summary {
    flex-grow: 2;
    margin-top:40px;
    margin-right:100px;
    height: 168px;
    border: 1px solid rgba(156, 156, 156, 0.7);
    box-sizing: border-box;
    border-radius: 10px;
}

.survey-large-gap {
    flex-grow:1
}

.survey-large-snapshot-title {
    text-align: center;
    margin-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #000000;
}

.survey-large-snapshot-price {

    margin-top: 15px;
    margin-left: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}

.survey-large-snapshot-bedrooms {

    margin-top: 15px;
    margin-left: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 18px;

    color: #000000;
}


.survey-large-tour-summary-title {
    position: absolute;
right: 31.82%;
top: 11.51%;
bottom: 66.91%;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 24px;

color: #000000;
}

.survey-large-tour-summary-estimate-duration {
    position: absolute;
left: 3%;
/*right: 5.41%;*/
top: 32.74%;
bottom: 40.64%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;

color: #000000;
}

.survey-large-tour-summary-message {
    position: absolute;
left: 3%;
/*right: 18.72%;*/
top: 47.02%;
bottom: 42.26%;

font-family: Montserrat;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 18px;

color: #000000;

}

.survey-large-tour-summary-button {
    position: absolute;
left: 33.16%;
right: 37.43%;
top: 66.07%;
bottom: 6.55%;
    padding-top: 12px;
}

.survey-large-homes-div {
    margin-top: 30%;
    height: 80px;
    width: 90%;
    top: 39.37%;
    bottom: 6.39%;
    margin-left: 45px;
}

.survey-large-favorites-div {
border: 1px solid #000000;
box-sizing: border-box;
backdrop-filter: blur(4px);/* Note: backdrop-filter has minimal browser support */
}

.survey-large-favorites-title {
position: absolute;
left: 37.13%;
right: 36.78%;
top: 4.28%;
bottom: 91.01%;

font-family: Montserrat;
font-style: normal;
font-weight: 800;
line-height: normal;
font-size: 18px;
text-align: center;
text-decoration-line: underline;

color: #000000;
}

.survey-large-visit-list-div {
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);/* Note: backdrop-filter has minimal browser support */
}
