{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block container_type %}container{% endblock %}
{% block nav-contact %}
    <li class="active"><a>About Us</a></li>{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1>About Us</h1>
    </div>
    </p>
    <h1 class="Mission" style="text-align: center"><span style="font-size: xx-large;">MISSION STATEMENT</span></h1>
    <p><span style="font-size: large;">
    We are a digital brokerage who help people quickly find ideal homes.
        We guide our clients through the swamp of old, incomplete, redundant, and often fake
        information scattered across the internet by giving them an elaborate survey,
        which we then apply to all homes in market to eliminate and rank viable homes.
        Because we are a brokerage with the legwork of home-searching automated,
        we are able to help our users then get these apartments for less than
        anyone else in a fraction of the time.</span></p>
    <p><span style="font-size: large;"><strong><br></strong></span></p>

    <h1 style="text-align: center;"><span style="font-size: xx-large;">WHY WE STARTED</span></h1>
    <p><span style="font-size: large;">After briefly entering the real estate market, we quickly realized the inefficiencies
    and the lack of innovation that is evident in the Industry. As giant corporations began to take over the market the
    desire for innovation dropped and the industry started stagnating. We want to develop a website that will make looking
        for a home more intuitive, safer and allow people like you to find the perfect match</span></p>
    <p><span style="font-size: large;"><br></span></p>

    <h1 style="text-align: center;"><span style="font-size: xx-large;">WHO WE ARE</span></h1>
    <p><span style="font-size: large;">
        We are currently College Students who have struggled in the past with the real estate market in Boston. On top
            of our school assignments, we are working diligently to continue this project forward. We are ecstatic that you
            are visiting our website and hope that you find it an enjoyable and helpful experience!!
    </span></p>
    <p><span style="font-size: large;"><br></span></p>

    <h1 style="text-align: center;"><span style="font-size: xx-large;">OUR SOLUTION</span></h1>
    <p><span style="font-size: large;">
        We developed an intricate algorithm to allow you to indicate your desires and we will then match you with the
            home that best meets you needs. The survey will take a few minutes to fill out and in seconds a large list of
            homes ranked from the best match to less ideal matches will be displayed. Homes will be filtered on commute time,
            number of bedrooms, cost, move in time, etc. The survey allows for more or less customizations depending on
            how refined you want the search to be. You can add homes to your favorite list if you want to revisit them later.
            When you the home you want to visit, select the home and the options for contacting the agent will be shown!
            It is that easy!
    </span></p>
    <p><span style="font-size: large;"><br></span></p>

    <h1 style="text-align: center;"><span style="font-size: xx-large;">WHAT YOU CAN DO</span></h1>
    <p><span style="font-size: large;">
        Please reach out to us if you have any questions or concerns! We strive to best fit your needs and hope that you
            can help us improve! The real estate market is a daunting place and we strive to make the transition to your
            best ideal home that much easier!
    </span></p>

    <p><span style="font-size: large;">Contact us <a href="http://3greenmoms.socialtoaster.com/" target="_blank">Email Address</a>, join us on <a
            href="https://www.facebook.com/" target="_blank">Facebook</a> and <a
            href="https://twitter.com/" target="_blank">Twitter</a></span>
    <br>
    <br>
    <br>

{% endblock %}