<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unicorn</title>

    <!-- JQuery CDN -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!-- Bootstrap style sheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Smarty Street API -->
    <script type="text/javascript"
            src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script>jQuery.LiveAddress({
        key: "28808043421919080",
        debug: false,
        autocomplete: 5,
        autoVerify: false,
        target: "US",
        addresses: [{
            address1: '#id_streetAddress',
            locality: '#id_city',
            administrative_area: "#id_state",
            postal_code: '#id_zip_code'
        }]
    });
    </script>
</head>
<body>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project Unicorn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Find your Perfect Home!</h1>
        <p>Please fill out the survey below to find your unicorn :)</p>
        <p>
            <a class="btn btn-lg btn-success" href="#" role="button">Log In</a>
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if error_message %}
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6" style="color:red">
                        <p><strong>{{ error_message }}</strong></p>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <form class="form-horizontal" action="{% url 'homePage:index' %}" method="post">
                    {% csrf_token %}
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="form-group">
                            {% for radio in form.survey_type %}
                                {{ radio }}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <div class="streetAddressDiv">
                                {{ form.streetAddress.errors }}
                                {{ form.streetAddress.label_tag }}
                                {{ form.streetAddress }}
                            </div>
                            <div class="cityDiv">
                                {{ form.city.errors }}
                                {{ form.city.label_tag }}
                                {{ form.city }}
                            </div>
                            <div class="stateDiv">
                                {{ form.state.errors }}
                                {{ form.state.label_tag }}
                                {{ form.state }}
                            </div>
                            <div class="zipCodeDiv">
                                {{ form.zip_code.errors }}
                                {{ form.zip_code.label_tag }}
                                {{ form.zip_code }}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>