{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Cacoon{% endblock %}

{% block head %}
    {{ block.super }}
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Style sheets for template page -->
    <link href="{% static 'survey/survey_result.css' %}" rel="stylesheet">
    <link href="{% static 'survey/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'survey/GoogleMapStyle.css' %}" rel="stylesheet">
    <link href="{% static 'Unicorn/homes/css/homeModal.css' %}" rel="stylesheet">
    <link href="{% static 'survey/sidebarnav.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Hello {{ user.first_name }}</h1>
        <p class="lead">Here at Cacoon we strive to find your perfect home! Please click below to get
            started!</p>
    </div>
    {% if error_message %}
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6" style="color:red">
                <p><strong>{{ error_message }}</strong></p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-5 col-sm-offset-4">
            <h2>Please select a survey!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="text-align: center">
            <form class="form-horizontal" action="{% url 'homePage:index' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for radio in form.survey_type %}
                        {{ radio }}
                    {% endfor %}
                </div>
                <p class="lead">
                    <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                </p>
            </form>
        </div>
    </div>

{% endblock %}
