{% load static %}
{% load scheduler_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Cocoon | {{ client.first_name }}'s Itinerary{% endblock %}</title>
  <link href="{% static 'scheduler/css/itineraryFile.css' %}" rel="stylesheet" type="text/css" media="screen, print">
  <link href="{% static 'cocoon/main/css/base.css' %}" rel="stylesheet" type="text/css" media="screen, print">
  <!-- JQuery CDN -->
  <script
          src="https://code.jquery.com/jquery-2.2.4.js"
          integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
          crossorigin="anonymous"></script>
  <!-- Font Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800" rel="stylesheet">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="theme-color" content="#A13718" />
  <link rel="stylesheet" href="{% static 'bootstrap-3.4.0-custom/css/bootstrap.css' %}">
  <link href="{% static 'cocoon/main/css/base.css' %}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{% static 'homePage/cocoon_logo.png' %}"/>
</head>
<body>
    <table class="client-information-table" id="client-information-table">
      <thead>
        <tr>
          <td>
            Client Information
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <span class="left header">Client Name</span>
            <span class="right">{{ client.full_name|try_string:"-" }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Phone Number</span>
            <span class="right">
              <a href="tel:{{ client.phone_number }}">{{ client.phone_numner|try_string:"-" }}</a>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Email Address</span>
            <span class="right"><a class="mail-link" href="mailto:{{ client.email }}">{{ client.email }}</a></span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Tour Duration</span>
            <span class="right">{{ tour_duration|try_string:"-" }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">No. of Tenants</span>
            <span class="right">{{ survey.number_of_tenants|try_string:"not specified"}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Minimum Bedrooms</span>
            <span class="right">{{ survey.min_bedrooms|try_string:"not specified" }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Bathroom Range</span>
            <span class="right">{{ survey.min_bathrooms }} - {{ survey.max_bathrooms }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left header">Price Range</span>
            <span class="right">{{ survey.price_range|try_string:"not specified" }}</span>
          </td>
        </tr>

        {# Rows below are hidden by default#}
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Wants hardwood floors</span>
            <span class="right glyphicon {% condition survey.wants_hardwood_floors "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Wants AC</span>
            <span class="right glyphicon {% condition survey.wants_AC "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Wants dishwasher</span>
            <span class="right glyphicon {% condition survey.wants_dishwasher "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Laundry in building</span>
            <span class="right glyphicon {% condition survey.wants_laundry_in_building "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Laundry in unit</span>
            <span class="right glyphicon {% condition survey.wants_laundry_in_unit "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Wants dogs</span>
            <span class="right glyphicon {% condition survey.wants_dogs "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Number of dogs</span>
            <span class="right">{{ survey.number_of_dogs }}</span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Service dogs</span>
            <span class="right glyphicon {% condition survey.service_dogs "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Breed of dogs</span>
            <span class="right">{{ survey.breed_of_dogs|try_string:"-" }}</span>
          </td>
        </tr>
        <tr class="extra-client-info hidden">
          <td>
            <span class="left header">Wants cats</span>
            <span class="right glyphicon {% condition survey.wants_cats "glyphicon-ok" "glyphicon-remove" %}" aria-hidden="true"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <span type="button" id="expand-client-info-button" class="expand-button" onclick="showMoreDetails()">more</span>

  </body>

  <script>

    var extraClientInformationVisibile = false;
    function showMoreDetails() {
        if (extraClientInformationVisibile) {
            $('.extra-client-info').addClass('hidden');
            $('#expand-client-info-button').text('more');
        } else {
            $('.extra-client-info').removeClass('hidden');
            $('#expand-client-info-button').text('hide');
        }
        extraClientInformationVisibile = !extraClientInformationVisibile;
    }

  </script>
</html>