{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Available Itineraries{% endblock %}

{% block head %}
    {{ block.super }}
    <!-- Custom StyleSheets -->
    <link rel="stylesheet" href="{% static 'scheduler/itineraryPicker.css' %}">
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Avaiable Itineraries</h1>
    </div>

    {% for itn in itineraries %}
        <div class="itinerary-result">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ itn.client.email }}</td>
                    <td>{{ itn.client.get_full_name }}</td>
                </tr>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for home in itn.homes.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ home.full_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Start Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for time in itn.start_times.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ time.time }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </tbody>
        </table>

        <button class="button">Claim</button>

        </div>
    {% endfor %}

{% endblock %}

{% block endScripts %}
    {{ block.super }}

    <!-- Custom Javascript -->
    <script src="{% static 'Unicorn/global_functions/javascript/getCookie.js' %}"></script>
{% endblock %}
