{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}My Itineraries{% endblock %}

{% block head %}
    {{ block.super }}
    <!-- Custom StyleSheets -->
    <link rel="stylesheet" href="{% static 'scheduler/itineraryPicker.css' %}">
{% endblock %}

{% block content %}
    <div class="itinerary-buckets">
        <div class="itinerary-bucket my-claimed-container">
            <h2>Claimed Itineraries</h2>
            {% for itn in unscheduled_itineraries %}
                <div class="itinerary-flex-container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">Duration (hr.)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ itn.client.email }}</td>
                            <td>{{ itn.client.get_full_name }}</td>
                            <td>{{ itn.tour_duration_hours }}</td>
                        </tr>
                        <table class="table">
                            <thead>
                            Homes
                            </thead>
                            <tr>
                                <th scope="col">Address</th>
                                <th scope="col">Listing #</th>
                                <th scope="col">Listing Agent</th>
                                <th scope="col">Listing Office</th>
                            </tr>
                            <tbody>
                                {% for home in itn.homes.all %}
                                    <tr>
                                        <td>{{ home.full_address }}</td>
                                        <td>{{ home.listing_number }}</td>
                                        <td>{{ home.listing_agent }}</td>
                                        <td>{{ home.listing_office }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                            Available Start Times
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for time in itn.start_times.all %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ time.time }}</td>
                                    <td><button class="btn expand-btn" id="select-{{ time.id }}" onclick="selectStartTime({{ time.id }}, {{ itn.id }}, '{% url 'scheduler:selectStartTime' %}')">Select</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>

        <div class="itinerary-bucket my-scheduled-container">
            <h2>Scheduled Itineraries</h2>
            {% for itn in scheduled_itineraries %}
                <div class="itinerary-flex-container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">Duration (hr.)</th>
                            <td scope="col">Start Time</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ itn.client.email }}</td>
                            <td>{{ itn.client.get_full_name }}</td>
                            <td>{{ itn.tour_duration_hours }}</td>
                            <td>{{ itn.selected_start_time }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block endScripts %}
    {{ block.super }}

    <!-- Custom Javascript -->
    <script src="{% static 'scheduler/js/select_start_time.js' %}"></script>
    <script src="{% static 'Unicorn/global_functions/javascript/getCookie.js' %}"></script>
{% endblock %}
