#siteWrapper {
  min-height: calc(100vh) !important;
}

footer {
  margin-bottom: -60px !important;
}

.logo {
    width: 100px;
    margin-right: 25px;
}

.welcome_text {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    color: #a13718;
}

@media (max-width: 768px) {

    .welcome_text {
        font-size: 36px;
        color: #26A69A;
        text-align: center;
        width:100%;
    }

    .logo {
        display: none;

    }

}