@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700,800');

/*
* Import this file into a component and use the variables
* in the css file i.e. color: var(--red);
*/

:root {
    --red: #A13718;
    --redOrange: #FF7D57;
    --teal: #39B1A7;
    --darkBlue: #3b4852;
    --tealOpacity: rgba(57, 177, 167, 0.04);
    --black: #282828;
    --grey: #888888;
    --borderColor: #dfdfdf;
    --borderRadius: 10px;
}