
/*********************************
    CAROUSAL STYLING
 ********************************/

.container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.jumbotron {
    background-color: #263238;
    opacity: .75;
    border-radius: 0px !important;
    display: block;
    position: absolute;
    z-index: 500;
    width: 30%;
    top: 0;
    padding: 20px 10px;

}

.jumbotron > h1 {
    font-size: 36px;
}

.selectSurvey > h2 {

}

.jumbotron > p {
    font-size: 16px;
}

.selectSurvey {
    background-color: #263238;
    opacity: .75;
    position: absolute;
    z-index: 400;
    display: block;
    top: 43%;
    margin: 0 auto;
    color: white;
    padding: 3% 5%;
    left: 37%;

}

.carousel-control {
    z-index: 2000;
}

.surveyButton {
    top: 70%;
    position: absolute;
    z-index: 400;
    display: block;
    left: 45%;
    color: white;
}

.submitButton {
    padding: 15px 25px;
    font-size: 16px;
}

.surveyButton > div > form > div {
    color: #fff;
}

/*********************************
    CAROUSAL SCALING
 ********************************/

@media (max-width: 1004px) {

    .jumbotron {
        width: 100%;
        background: none;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

}