ul > li > a.register-link {
    padding: 25px 15px !important;
}

ul > li > a {
    padding: 30px 8px !important;
    font-size: 14px !important;
}

ul > li > a.register-link {
    padding: 24px 8px !important;
}

.signup-button {
    padding: 5px 10px;
}

.signup-button-right {
    margin-right: 15px !important;
}

/*****************************

    Styling Scrolls

 ****************************/

.button-link-animated {
    font-size: 12px !important;
}

@media (max-width: 768px) {
    .signup-button {
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 974px) {
    body {
        padding-top: 50px !important;
    }
}

@media (min-width: 768px) and (max-width: 1021px) {

    ul > li > a.register-link {
    padding: 16px 8px !important;
}

}