.itineraries-buckets {
    display: block;
    flex-direction: row;
    width: 100%;
}

.itinerary-bucket {
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 48%;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 90vh;
    overflow-y: scroll;
}