{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Survey Result{% endblock %}

{% block head %}
    {{ block.super }}
{#    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCayNcf_pxLj5vaOje1oXYEMIQ6H53Jzho&v=3.exp&libraries=geometry,drawing,places"#}
{#            async defer></script>#}
{% endblock %}

{% block content %}
    <div id="reactWrapper"></div>
{% endblock %}

{% block endScripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'cocoon/main/ajax/getCookie.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'cocoon/main/js/navbar.js' %}"></script>
    {% include 'frontend/react_base.html' %}
    <script src="{% static 'frontend/js/survey.bundle.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}
