{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}Unicorn{% endblock %}
{% block head %}
    {{ block.super }}
    <!-- JQuery UI style sheet, mostly used for slider ui -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'survey/rentingSurvey.css' %}">

   <!-- Smarty Street API -->
    <script type="text/javascript"
            src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <script>jQuery.LiveAddress({
        key: "28808043421919080",
        debug: false,
        autocomplete: 5,
        autoVerify: false,
        target: "US",
        addresses: [{
            address1: '#id_street_address_destination',
            locality: '#id_city_destination',
            administrative_area: "#id_state_destination",
            postal_code: '#id_zip_code_destination'
        }]
    });
    </script>
{% endblock %}

{% block nav-survey %}<li class="active"><a>Survey</a></li>{% endblock %}

{% block content %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Find your Perfect Home!</h1>
        <p>Please fill out the survey below to find your cocoon</p>
        <p>
            {% if not user.is_authenticated %}
                <p>Please login to save personalized surveys!</p>
                <a class="btn btn-lg btn-success" href="{% url 'userAuth:loginPage' %}" role="button">Log In</a>
            {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if error_message %}
                <div class="row">
                    <div class="col-sm-offset-3 col-sm-6" style="color:red">
                        <p><strong>{{ error_message }}</strong></p>
                    </div>
                </div>
            {% endif %}
            <div class="row">

                <form class="form-horizontal" id="my_form" action="{% url 'survey:rentingSurvey' %}" method="post">
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    {% csrf_token %}
                    <div class="col-sm-offset-3 col-sm-6">
                        <h3>Essentials</h3>
                        <span class="help-block">All fields are required. Each item will be an important factor which will filter the items</span>
                        <div class="form-group step_div">
                            <div class="form-group">
                                {{ form.num_bedrooms_survey.label_tag }}
                                {{ form.num_bedrooms_survey }}
                                {{ form.num_bedrooms_survey.errors }}
                            </div>
                            <div class="form-group">
                                {{ form.home_type_survey.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="Select the types of homes desired"></span>
                                {{ form.home_type_survey }}
                                {{ form.home_type_survey.errors }}
                            </div>
                            <div class="form-group">
                                <label for="amountCost">Cost Per Month:</label>
                                <input type="text" id="amountCost" name="amountCost" readonly
                                       style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="cost"></div>
                                {{ form.min_price_survey }}
                                {{ form.max_price_survey }}
                            </div>
                            <div class="form-group">
                                {{ form.price_weight_survey.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="A Weight of zero means all homes within the price range are weighted equally.
                                Increasing the weight gives increasing preference to cheaper homes"></span>
                                {{ form.price_weight_survey }}
                                {{ form.price_weight_survey.errors }}
                            </div>
                        </div>
                        <br>

                        <h3>Commute</h3>
                        <span class="help-block">Please enter up to {{ number_of_formsets }} commutes to locations you need to go to.
                            This can be your work, school or somewhere you commute to regularily</span>
                        <div class="form-group step_div">
                            {% include "survey/helpers/address_form.html" %}
{#                            <div class="form-group">#}
{#                                {% comment %} Contains form for destination {% endcomment %}#}
{#                                <div class="bs-example">#}
{#                                    <ul class="nav nav-tabs">#}
{#                                        <li id='form_destination_minus_span'><a><span  class="glyphicon glyphicon-minus" onclick="add_destination_form(-1,#}
{#                                                {{ number_of_formsets }})"></span></a></li>#}
{#                                        {% for num_forms in form_destination %}#}
{#                                            <li#}
{#                                                {% if forloop.counter == 1 %}#}
{#                                                    class="active"#}
{#                                                {% elif forloop.counter <= number_of_destinations %}#}
{#                                                    class=""#}
{#                                                {% else %}#}
{#                                                    class="hide"#}
{#                                                {% endif %}#}
{#                                                id="form_destination_tabs_{{ forloop.counter }}">#}
{##}
{#                                            <a data-toggle="tab"#}
{#                                               href="#form_destination_section_{{ forloop.counter }}"><b>Commuter {{ forloop.counter }}</b></a></li>#}
{#                                        {% endfor %}#}
{#                                        <li#}
{#                                            {% if number_of_destinations >= number_of_formsets %}#}
{#                                                class='hide'#}
{#                                            {% endif %}#}
{#                                            id='form_destination_add_span'><a><span  class="glyphicon glyphicon-plus" onclick="add_destination_form(1,#}
{#                                                {{ number_of_formsets }})"></span></a></li>#}
{#                                    </ul>#}
{#                                    <div id="form_destination_div" class="tab-content">#}
{#                                        {{ form.number_destinations_filled_out }}#}
{#                                        {{ form_destination.management_form }}#}
{#                                        {% for form in form_destination %}#}
{#                                        <div id="form_destination_section_{{ forloop.counter }}"#}
{#                                             {% if forloop.counter == 1 %}#}
{#                                                class="tab-pane fade in active">#}
{#                                            {% else %}#}
{#                                                class="tab-pane fade">#}
{#                                            {% endif %}#}
{#                                            <br>#}
{#                                            {{ form.as_table }}#}
{#                                        </div>#}
{#                                        {% endfor %}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <br>
                            <span class="help-block">Currently the Commute time, weight and type are for all the commutes</span>

                            <div class="form-group">
                                <label for="amountCommute">Commute:</label>
                                <input type="text" id="amountCommute" name="amountCommute" readonly
                                       style="border:0; color:#f6931f; font-weight:bold;">
                                <div id="commute"></div>
                                {{ form.min_commute_survey }}
                                {{ form.max_commute_survey }}
                            </div>

                            <div class="form-group">
                                {{ form.commute_weight_survey.label_tag }}
                                <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="left" title="A weight of zero means all homes within the commute range are weighted equally.
                                Increasing the weight gives increasing preferences to closer homes"></span>
                                {{ form.commute_weight_survey }}
                                {{ form.commute_weight_survey.errors }}
                            </div>

                            <div class="form-group">
                                {{ form.commute_type_survey.label_tag }}
                                {{ form.commute_type_survey }}
                                {{ form.commute_type_survey.errors }}
                            </div>
                        </div>
                        <br>

                        {% comment %} Accordion ONLY will have questions that do not need to be validated {% endcomment %}
                        <h3>Amenities</h3>
                        <p class="help-block">Nothing below is required but it tailors the search to your needs!
                            <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip"
                                  data-placement="left" title="For the following questions, a weight of zero means the question has no effect.
                                    Increasing weight means homes with that element will be given increasing preference and homes
                                    without that item will be given decreased preference.
                                    A weight of the max value means the home must have that item.">

                            </span></p>
                        <div class="form-group">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Interior Amenities</a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                {{ form.air_conditioning_survey.label_tag }}
                                                {{ form.air_conditioning_survey }}
                                                {{ form.air_conditioning_survey.errors }}
                                            </p>

                                            <p>
                                                {{ form.interior_washer_dryer_survey.label_tag }}
                                                {{ form.interior_washer_dryer_survey }}
                                                {{ form.interior_washer_dryer_survey.errors }}
                                            </p>

                                            <p>
                                                {{ form.dish_washer_survey.label_tag }}
                                                {{ form.dish_washer_survey }}
                                                {{ form.dish_washer_survey.errors }}
                                            </p>

                                            <p>
                                                {{ form.bath_survey.label_tag }}
                                                {{ form.bath_survey }}
                                                {{ form.bath_survey.errors }}
                                            </p>

                                            <p>
                                                <label for="amountBathrooms"># Bathrooms:</label>
                                                <input type="text" id="amountBathrooms" name="amountBathrooms" readonly
                                                       style="border:0; color:#f6931f; font-weight:bold;">
                                            <div id="bathrooms"></div>
                                            {{ form.min_bathrooms_survey }}
                                            {{ form.max_bathrooms_survey }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Building/Exterior Amentities</a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                {{ form.parking_spot_survey.label_tag }}
                                                {{ form.parking_spot_survey }}
                                                {{ form.parking_spot_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.building_washer_dryer_survey.label_tag }}
                                                {{ form.building_washer_dryer_survey }}
                                                {{ form.building_washer_dryer_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.elevator_survey.label_tag }}
                                                {{ form.elevator_survey }}
                                                {{ form.elevator_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.handicap_access_survey.label_tag }}
                                                {{ form.handicap_access_survey }}
                                                {{ form.handicap_access_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.pool_hot_tub_survey.label_tag }}
                                                {{ form.pool_hot_tub_survey }}
                                                {{ form.pool_hot_tub_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.fitness_center_survey.label_tag }}
                                                {{ form.fitness_center_survey }}
                                                {{ form.fitness_center_survey.errors }}
                                            </p>
                                            <p>
                                                {{ form.storage_unit_survey.label_tag }}
                                                {{ form.storage_unit_survey }}
                                                {{ form.storage_unit_survey.errors }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {% comment %}
                                Not currently needed so commenting out
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Something else 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                        </div>
                                    </div>
                                </div>

                            {% endcomment %}
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="Submit" class="btn btn-primary">Submit Survey</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block endScripts %}
    {{ block.super }}
<script>
    // Default values for sliders
    commuteSliderMin = 0;
    commuteSliderMax = 60;
    costSliderMax = 1400;
    costSliderMin = 400;
    bathroomsMin = 0;
    bathroomsMax = 6;
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()

})
</script>

<!-- JQuery UI for sliders -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Javascripts -->
<script src="{% static 'survey/costSlider.js' %}"></script>
<script src="{% static 'survey/commuteSlider.js' %}"></script>
<script src="{% static 'survey/bathroomsSlider.js' %}"></script>
<script src="{% static 'survey/destinationToggle.js' %}"></script>
{% endblock %}
