{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}My Visit List{% endblock %}

{% block head %}
    {{ block.super }}

    <!-- Style sheets for template page -->
    <link href="{% static 'Unicorn/homes/css/homeModal.css' %}" rel="stylesheet">
    <link href="{% static 'Unicorn/homes/css/tiles.css' %}" rel="stylesheet">
    <link href="{% static 'survey/visit_list_tiles.css' %}" rel="stylesheet">
    {#    <link href="{% static 'survey/survey_result.css' %}" rel="stylesheet">#}

{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Your Visit List!</h1>
        <p>Here is your list of homes that you are currently visiting or want to visit</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn expand-btn
            {% if not pre_tour_signed %}
                disabled
                {% endif %}
    "
            id="schedule_homes">Schedule the Homes!
            </button>
        </div>
        {% if not pre_tour_signed %}
        <div class="col-sm-6">
            <button class="btn expand-btn" id="refresh_docs" onclick="check_pre_tour_documents('{% url 'survey:checkPretourDocuments' %}');">
                {% if not pre_tour_forms_created %}
                    Send Documents
                {% else %}
                    Refresh Document Status
                {% endif %}

            </button>
        </div>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6">
        <p>The Short List (These are homes you plan on visiting)</p>
            <div class="tileTable">
                {% for house in user_visit_house_list %}
                    {% include "homes/tiles.html" with includeScore=False theHouse=house %}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-6">
        <p>Favorites (These are homes you like and want to keep track of)</p>
            <div class="favoriteTiles tileTable">
                {% for house in user_favorite_houses %}
                    {% include "homes/tiles.html" with includeScore=False  theHouse=house%}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block endScripts %}
    {{ block.super }}

    <!-- Custom Javascript -->
    {% comment %}This script enables ajax request by sending the appropriate authentication elements{% endcomment %}
    <script src="{% static 'Unicorn/global_functions/javascript/getCookie.js' %}"></script>
    {% comment %}This script adds the set_visit_house function which enables adding homes to the users visit list{% endcomment %}
    <script src="{% static 'Unicorn/homes/javascript/set_visit_house.js' %}"></script>
    <script src="{% static 'Unicorn/homes/javascript/set_favorite.js' %}"></script>
    <script src="{% static 'survey/javascript/ajax/check_pre_tour_documents.js' %}"></script>
    {% comment %}This script adds the set_visit_house function which enables removing homes from the users visit list{% endcomment %}
    <script src="{% static 'Unicorn/homes/javascript/delete_visit_house.js' %}"></script>
    {# Necessary imports for the global tiles #}
    <script src="{% static 'survey/tileCarousel.js' %}"></script>
    <script src="{% static 'survey/tileInteraction.js' %}"></script>
    <script src="{% static 'survey/survey_result.js' %}"></script>
    <script src="{% static 'survey/favoritesTiles.js' %}"></script>
    <script src="{% static 'survey/unfavorite.js' %}"></script>


{% endblock %}