{% extends "bootstrapJQuery.html" %}
{% load static %}
{% block title %}My Visit List{% endblock %}

{% block head %}
    {{ block.super }}

    <!-- Style sheets for template page -->
    <link href="{% static 'cocoon/tile/css/homeModal.css' %}" rel="stylesheet">
    <link href="{% static 'cocoon/tile/css/tiles.css' %}" rel="stylesheet">
    <link href="{% static 'survey/visit_list_tiles.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>Your Visit List!</h1>
        <p>Here is your list of homes that you are currently visiting or want to visit</p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <button class="btn expand-btn
            {% if not pre_tour_signed %}
                disabled
                {% endif %}
    "
                    id="schedule_homes">Schedule the Homes!
            </button>
        </div>
        {% if not pre_tour_signed %}
            <div class="col-sm-6">
                <div id="not_completed">
                    <button class="btn expand-btn" id="check_docs"
                            onclick="check_pre_tour_documents('{% url 'survey:checkPretourDocuments' %}');">
                        {% if not pre_tour_forms_created %}
                            Send Documents
                        {% else %}
                            Refresh Document Status
                        {% endif %}

                    </button>

                    <button class="btn expand-btn"
                    {% if not pre_tour_forms_created %}style="display: none;"{% endif %} id="resendDocs"
                            onclick="resend_pre_tour_documents('{% url 'survey:resendPretourDocuments' %}')">
                    Resend Documents to email
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <br>
    <br>
    {% for survey in surveys %}
    <div class="row" style="outline-style: dotted; padding-left: 10px; padding-bottom: 10px; padding-right: 10px">
        <h2>{{ survey.name }}</h2>
        <div class="col-md-6">
            <h4>Favorites (These are homes you like and want to keep track of)</h4>
            <div class="favoriteTiles tileTable">
                {% for favorite in survey.favorites.all %}
                    {% include "homes/tiles.html" with user_favorite_houses=survey.favorites.all survey_id=survey.id includeScore=False  theHouse=favorite %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-5">
            <h4>The Short List (These are homes you plan on visiting)</h4>
            <div class="tileTable">
                    {% for visit in survey.visit_list.all %}
                        {% include "homes/tiles.html" with user_favorite_houses=survey.favorites.all survey_id=survey.id includeScore=False  theHouse=visit %}
                    {% endfor %}
            </div>
        </div>
        <div class="col-md-1">
            <form action="{% url 'survey:visitList' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-primary" name="submit-button" type="submit" value="{{ survey.id }}">Schedule</button>
            </form>
        </div>
    </div>
        <br>
    {% endfor %}

    <div class="scheduled-itinerary">
        {% for itn in scheduled_itineraries %}
            <button class="btn expand-btn" onclick="unscheduleItinerary({{ itn.id }}, '{% url 'scheduler:unscheduleItinerary' %}')">Cancel Itinerary on {{ itn.selected_start_time }}</button>
        {% endfor %}
    </div>

{% endblock %}

{% block endScripts %}
    {{ block.super }}

    <!-- Custom Javascript -->
    {% comment %}This script enables ajax request by sending the appropriate authentication elements{% endcomment %}
    <script src="{% static 'cocoon/main/ajax/getCookie.js' %}"></script>
    {% comment %}This script adds the set_visit_house function which enables adding homes to the users visit list{% endcomment %}
    <script src="{% static 'cocoon/main/ajax/set_visit_house.js' %}"></script>
    <script src="{% static 'cocoon/main/ajax/set_favorite.js' %}"></script>
    <script src="{% static 'survey/javascript/ajax/check_pre_tour_documents.js' %}"></script>
    <script src="{% static 'survey/javascript/ajax/resend_pre_tour_documents.js' %}"></script>
    {% comment %}This script adds the set_visit_house function which enables removing homes from the users visit list{% endcomment %}
    <script src="{% static 'cocoon/main/ajax/delete_visit_house.js' %}"></script>
    {# Necessary imports for the global tiles #}
    <script src="{% static 'survey/tileCarousel.js' %}"></script>
    <script src="{% static 'survey/tileInteraction.js' %}"></script>
    <script src="{% static 'survey/survey_result.js' %}"></script>
    <script src="{% static 'survey/favoritesTiles.js' %}"></script>
    <script src="{% static 'survey/unfavorite.js' %}"></script>
    <script src="{% static 'scheduler/js/unschedule_itinerary.js' %}"></script>

{% endblock %}