.form-gap {
    padding-top: 100px;
}

.info-text {
    flex-basis: 40%;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    min-width: 300px;
}

@media (min-width: 550px) and (max-width: 768px) {

    .info-text {
        font-size: 18px;
    }

}
