/**********************************
    CODE THAT OVERRIDES BOOSTRAP
 *********************************/

/* NOTE: Jumbotron positioned down because of inline body padding */

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 100px;
}

.jumbotron {
    background-color: #4eb7ad;
    color: #fff;
}

.btn, .btn-primary {
    background-color: #26A69A;
    border: 1px solid #009688;
    color: white;
    border: none;
}

.btn:hover, .btn-primary:hover {
    background-color: #009688;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eee !important;
}

.navbar-default .navbar-nav > li > a:active {
    background-color: #a13718;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #a13718;
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #efefef;
}

.navbar-default .navbar-toggle {
    border-color: #eee;
    background-color: #fff;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    color: #fff !important;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #efefef !important;
}

.navbar-fixed-top {
    background-color: #a13718;
    border-color: #e88f7d;
}

/*********************************
    CAROUSAL STYLING
 ********************************/

.container {
    padding: 0;
}

.jumbotron {
    border-radius: 0px !important;
    display: block;
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    width: 30%;
    top: 0;
    padding: 20px 10px;

}

.jumbotron > h1 {
    font-size: 36px;
}

.jumbotron > p {
    font-size: 16px;
}

/*********************************
    CUSTOM DEFINED CLASSES
 ********************************/

.nav-logo {
    width: 80px;
    height: auto;
    display: inline-block;
    float: left;
}


/*********************************
    MEDIA QUERIES, ORDER MATTERS
 ********************************/

@media (max-width: 768px) {

    .navbar-brand {
        line-height: 0px;
        font-size: 36px;
        line-height: 25px;
    }

    .nav > li > a {
        font-size: 14px;
    }

    .nav > li:hover {
        /*background-color: #e88f7d;*/
    }

    #navbar {
        background-color: #c67969;
    }

    .nav-logo {
        width: 60px;
        padding: 5px;
    }

    .navbar-default .navbar-toggle {
        background-color: #ededed;
        margin-top: 12px;
    }

}

@media (min-width: 768px) {

    .navbar-nav > li > a {
        padding: 35px 15px;
        line-height: 10px;
    }

    .navbar-brand {
        padding: 35px 15px;
        font-size: 48px;
        line-height: 0px;
    }

    .navbar-nav {
        float: right;
    }

    #rightmost-nav-item {
        border-right: 1px solid #efefef;
    }

    .nav-brand-animated {
        padding: 12px 15px 15px 15px !important;
        line-height: 25px !important;
        font-size: 32px !important;
        transition: padding-top .2s ease-in;
        transition: padding-bottom .2s ease-in;
    }

    .navbar-nav > li > a.link-animated {
        font-size: 14px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        line-height: 21px !important;
        transition: padding-top .2s ease-in;
        transition: padding-bottom .2s ease-in;
    }

    .nav-logo-animated {
        display: none;
    }

}

@media (max-width: 1004px) and (min-width: 768px) {

    .navbar-nav > li > a {
        padding: 20px 15px;
        line-height: 15px;
    }

    .navbar-brand {
        padding: 20px 15px;
        font-size: 36px;
        line-height: 20px;
    }

    .nav-logo {
        width: 65px;
    }

    body {
        padding-top: 200px;
    }

    .navbar-nav {
        float: left;
    }

    #rightmost-nav-item {
        border-right: 0px;
    }
}

@media (min-width: 1280px) {

    .nav > li > a {
        font-size: 18px;
    }

    #rightmost-nav-item {
        border-right: 1px solid #efefef;
    }
}

@media (min-width: 2100px) {
    .nav-container {
        width: 80% !important;
        margin: 0 auto !important;
    }
    
    .navbar-nav {
        float: none;
        margin-left: 350px;
    }

    #rightmost-nav-item {
        border: none;
    }
}