{% extends "base_email.html" %}

{% block headline %}
    Verify your email address
{% endblock %}

{% block greeting %}
    Hi {{ user.full_name }}!
{% endblock %}

{% block content %}
    Thanks for signing up. In order to start using your Cocoon account, we’ll need to verify your email.
{% endblock %}

{% block button %}
    <td align="center" bgcolor="#a13718" role="presentation"
        style="border:none;border-radius:10px;cursor:auto;padding:15px 25px;background:#a13718;"
        valign="middle">
        <a href="http://{{ domain }}{% url 'userAuth:activateAccount' uidb64=uid token=token %}"
           style="background:#a13718;color:#ffffff;font-family:Montserrat, sans-serif;font-size:15px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
           target="_blank">Verify Email</a>
    </td>
{% endblock %}

{% block smallText %}
    If you did not sign up for this account you can ignore this email and the
    account will be deleted.
{% endblock %}