{% extends "bootstrapJQuery.html" %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'cocoon/registration/css/password_reset_complete.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="row form-gap">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <div class="panel-body">
                            <div class="info-text">
                                Your password has been set. You may go ahead and <a href="{% url 'userAuth:loginPage' %}">sign in</a> now.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}