{% extends "base_email_button.html" %}

{% block headline %}
    Reset Your Password
{% endblock %}

{% block greeting %}
    Hi {{ user.full_name }}!
{% endblock %}

{% block content %}
    To initiate the password reset process for your {{ user.get_username }} Bostoncocoon Account, click the link below:
{% endblock %}

{% block buttonLink %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}

{% block buttonText %}Reset Password{% endblock %}

{% block smallText %}
    If clicking the link above doesn't work, please copy and paste this URL in a new browser
window instead. {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}