{% extends "base_email.html" %}

{% block headline %}
    Reset Your Password
{% endblock %}

{% block greeting %}
    Hi {{ user.full_name }}!
{% endblock %}

{% block content %}
    To initiate the password reset process for your {{ user.get_username }} Bostoncocoon Account, click the link below:
{% endblock %}

{% block button %}
    <td align="center" bgcolor="#a13718" role="presentation"
        style="border:none;border-radius:10px;cursor:auto;padding:15px 25px;background:#a13718;"
        valign="middle">
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
           style="background:#a13718;color:#ffffff;font-family:Montserrat, sans-serif;font-size:15px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
           target="_blank">Reset Password</a>
    </td>
{% endblock %}

{% block smallText %}
    If clicking the link above doesn't work, please copy and paste this URL in a new browser
window instead. {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}