{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Current Page {% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body style="min-height:2000px; padding-top:70px">

{% block container_type %}<div class="container"> {% endblock %}
     <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'homePage:index' %}">Project Unicorn</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% block nav-home %}<li><a href="{% url 'homePage:index' %}">Home</a></li>{% endblock %}
                    {% block nav-survey %}<li><a href="{% url 'homePage:index' %}">Survey</a></li>{% endblock %}
                    {% block nav-contact %}<li><a href="{% url 'homePage:contactPage' %}">Contact</a></li>{% endblock %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false">Welcome {{ user.email }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'userAuth:logoutPage' %}">Logout</a></li>
                                <li><a href="{% url 'userAuth:profilePage' 'profile' %}">User Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Surveys</li>
                                <li><a href="{% url 'userAuth:profilePage' 'rentSurvey' %}">Renting Survey</a></li>
                                <li><a href="{% url 'userAuth:profilePage' 'buySurvey' %}">Buying Surveys</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url 'userAuth:loginPage' %}">Login <span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

{% block content %}{% endblock %}

</div>
{% block endScripts %}{% endblock %}

</body>
</html>