{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %} Current Page {% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'homePage/cocoon_edited.png' %}"/>



    {% if not user.is_authenticated %}

        <link rel="stylesheet" href="{% static 'homePage/not_logged.css' %}">

    {% endif %}



    {% block head %}{% endblock %}
</head>
<body>

<div id="siteWrapper" class="{% block container_type %}container{% endblock %}">
    {% block nav_bar %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid nav-container">
                <div class="navbar-header">
                    <img class="nav-logo" src="{% static 'homePage/cocoon_logo_white.png' %}">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'homePage:index' %}">Cocoon</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="login-block dropdown">
                                <a href="#" class="welcome-text dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">Welcome {{ user.email }} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">Account</li>
                                    <li class="dropdown-header"><a href="{% url 'userAuth:logoutPage' %}">Logout</a>
                                    </li>
                                    <li class="dropdown-header"><a href="{% url 'userAuth:profilePage' 'profile' %}">User
                                        Profile</a></li>
                                    {% comment %}
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Surveys</li>
                                <li><a href="{% url 'userAuth:profilePage' 'rentSurvey' %}">Renting Survey</a></li>
                                <li><a href="{% url 'userAuth:profilePage' 'buySurvey' %}">Buying Surveys</a></li>
                                {% endcomment %}
                            </ul>
                        </li>
                    {% else %}
                            <li><a class="register-link" href="{% url 'userAuth:registerPage' %}"><button class="btn-primary btn login-button signup-button">Sign Up</button></a></li>
                            <li><a class="register-link" href="{% url 'userAuth:loginPage' %}"><button class="btn-primary btn login-button signup-button signup-button-right">Login</button></a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                        {% block nav-home %}<li><a href="{% url 'homePage:index' %}">Home</a></li>{% endblock %}
                        {% block nav-mysurvies %}<li><a href="{% url 'userAuth:profilePage' 'rentSurvey' %}">My Surveys</a></li>{% endblock %}
                        {% block nav-visitlist %}<li><a href="{% url 'survey:visitList' %}">Favorites</a></li>{% endblock %}
                        {% block nav-contact %}<li><a id="rightmost-nav-item" href="{% url 'homePage:about' %}">About Us</a></li>{% endblock %}
                    {% endif %}
                </ul>

                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock nav_bar %}

    {% block content %}{% endblock %}

</div>
{% block endScripts %}{% endblock %}

{% block footer %}

    <footer class="footer">
       Copyright Cocoon 2017. All rights reserved.
    </footer>

{% endblock %}

</body>
</html>