{% load static %}

{% if USING_PRODUCTION %}
    {% comment %} Disables react if the system is using production settings {% endcomment %}
    <!-- index.html -->
    <script>
        // before React is loaded
        if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
            __REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function() {};
        }
    </script>
{% endif %}

<script>
    window.react_mount = document.getElementById('reactWrapper');
    window.component = '{{component}}';
    {% if user.is_authenticated %}
            window.isUser = true;
        {% else %}
            window.isUser = false;
    {% endif %}
    {% if user.is_verified %}
        window.isVerified = true;
    {% else %}
        window.isVerified = false;
    {% endif %}
</script>
