{% load static %}
{% load intercom %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Cocoon {% endblock %}</title>
    <!-- JQuery CDN -->
    <script
            src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!-- Font Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#A13718" />
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.0-custom/css/bootstrap.css' %}">
    <link href="{% static 'cocoon/main/css/base.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'homePage/cocoon_logo.png' %}"/>
{% block head %}

{% endblock %}
</head>
<body>

{% block nav_bar %}
    <nav>
        <div class="logo">
            <a href="{% url 'homePage:index' %}">
                <img src="{% static 'homePage/cocoon-logo_beta.png' %}" alt="">
            </a>
        </div>

        <div class="nav-links_desktop">

            {% comment %}Unauthorized Links{% endcomment %}
            {% if not user.is_authenticated %}

                <div>
                    <a href="{% url 'userAuth:loginPage' %}">Login</a>
                    <span>/</span>
                    <a href="{% url 'userAuth:hunter_signup' %}" class="redOrange">Sign Up</a>
                </div>

            {% else %}
                {% comment %}Authorized Links{% endcomment %}
                <div>
                    {% if user.is_hunter or user.is_admin %}
                        <a href="{% url 'userAuth:surveys' %}">My Surveys</a>
                        <span>/</span>
                        <a href="{% url 'scheduler:clientScheduler' %}">My Itinerary</a>
                        <span>/</span>
                    {% endif %}
                    {% if user.is_broker or user.is_admin %}
                        <a href="{% url 'scheduler:agentSchedulerPortal' %}">Agent Portal</a>
                        <span>/</span>
                        <a href="{% url 'scheduler:agentSchedulerMarketplace' %}">Marketplace</a>
                        <span>/</span>
                    {% endif %}
                    <div id="dropdown">
                        <button>{{ user.email }} <i class="material-icons">arrow_drop_down</i></button>
                        <div class="dropdown-content">
                            <a href="{% url 'userAuth:user_profile' %}">Profile</a>
                            <a href="{% url 'userAuth:logoutPage' %}">Logout</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        {% comment %}Mobile Nav{% endcomment %}
        <div class="nav-links_mobile">
            <div class="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </nav>
    <div class="mobile-links">
        {% if not user.is_authenticated %}
            <a href="{% url 'userAuth:loginPage' %}">Login</a>
            <a href="{% url 'userAuth:hunter_signup' %}">Sign Up</a>
        {% else %}
            <a href="{% url 'userAuth:surveys' %}">My Surveys</a>
            <a href="{% url 'scheduler:clientScheduler' %}">My Itinerary</a>
            {% if user.is_broker or user.is_admin%}
                <a href="#">Agent Portal</a>
                <a href="#">Marketplace</a>
            {% endif %}
            <a href="{% url 'userAuth:user_profile' %}">Profile</a>
            <a href="{% url 'userAuth:logoutPage' %}">Logout</a>
        {% endif %}
    </div>
    {% comment %}END OF HEADER & NAV MENUS{% endcomment %}
{% endblock nav_bar %}

<div id="siteWrapper" class="{% block container_type %}container{% endblock %}">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible message_timeout" role="alert" style="text-align: center; margin-bottom: 0">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

    <div id="siteWrapper">

    {% block content %}{% endblock %}

    </div>

</div>
{% block endScripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'cocoon/main/js/base.js' %}"></script>
    <script src="{% static 'cocoon/main/js/navbar.js' %}"></script>
{% endblock %}
{% block footer %}
    <footer>
        <div class="container">
            <p>All rights reserved. Cocoon © 2019</p>
        </div>
    </footer>
{% endblock %}
{% intercom_tag %}
</body>
</html>