{% comment Header %}
Note this modal assumes that in the parent template, it is being called in a for loop.
Even if there is ony one home, it should be in a for loop with size 1.
The modael id is created based on the for loop counter.

Also the Modal Expects a home in the context of the foor loop
{% endcomment %}

<div class="modal fade" id="{{ modalId }}{{ forloop.counter }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">{{ home.get_address }}</h3>
            </div>
            <div class="modal-body modalPadding">
                <div class="row">
                    <p><b>Price: </b>{{ home.get_price_str }}</p>
                    <p><b>Home Type: </b>{{ home.home_type }}</p>
                    <p><b>Move In Day: </b>{{ home.get_move_in_day }}</p>
                    <p><b>Number of Bedrooms: </b>{{ home.get_num_bedrooms }}</p>
                    <p><button type="button" class="btn btn-primary" onclick="set_visit_home({{ home.id }})">Primary</button></p>
                    <p>Visit Home? </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success">Contact Agent</button>
            </div>
        </div>
    </div>
</div>